{% load static %}

 <!-- 기본정보 -->
 <div class="info_wrap hidden" id="profile-section4">
    <div class="info_content">
        <div class="catchphrase">
            [ {{char04.charCatchPhrase}} ]
        </div>
        <div class="name_wrap">
            <div class="name_content">
                <p class="name1">
                    {{char04.charEngName}}
                </p>
                <p class="name2">
                    {{char04.charName}}
                </p>
            </div>
        </div>
        <div class="phrase">
            <p><span>"  </span> {{char04.charPhrase}} <span>  "</span></p>
        </div>
        <div class="spec_wrap">
            <div class="spec_content">
                <div class="spec_info_content">
                    <div class="info_line_content">
                        <p>{{char04.charSex}} | {{char04.charHeight}}cm | {{char04.charWeight}}kg | {{char04.charNationality}} | {{char04.charBlood}}</p>
                    </div>
                </div>
                {% if char04.charHouse == "후플푸프" %}
                    <img class="houseimgH" src="{% static 'img/' %}{{ char04.charHouse }}.png">
                {% else %}
                    <img class="houseimg" src="{% static 'img/' %}{{ char04.charHouse }}.png">
                {% endif %}
            </div>
        </div>
    </div>

    <div class="button_content">
        <div class="button_wrap">
            <button class="infobtn" onclick="showProfile4()">기본 정보</button>
            {% if char04.charCommission  or char04.charImageInfo %}
            <button class="infobtn" onclick="showImgInfo4()">외관</button>
            {% endif %}
            <button class="infobtn" onclick="showEtc4()">상세 정보</button>
            <button class="infobtn" onclick="showWand4()">지팡이</button>
        </div>
    </div>

    <div class="personality_content" id="personality_section4">
        <div class="personality_wrap">
            <div class="keywords">
                <button class="keywordbtn">{{char04.charKeyword1}}</button>
                <button class="keywordbtn">{{char04.charKeyword2}}</button>
                <button class="keywordbtn">{{char04.charKeyword3}}</button>
            </div>
            <hr/>
            <div class="info_scrollbox">
                {{char04.charPersonality|linebreaksbr|safe}}
            </div>
            <hr/>
        </div>
    </div>

    <div class="imgInfo_content hidden" id="imgInfo_section4">
        <div class="personality_wrap">
            {% if char04.charCommission %}
            <div class="imgInfo_header">
                <button class="keywordbtn">ⓒ {{char04.charCommissionInfo}}</button>
            </div>
            <hr/>
            <div class="info_scrollbox">
                {% if char04.charImageInfo %}
                {{char04.charImageInfo|linebreaksbr|safe}}
                {% endif %}
            </div>
            <hr/>
            {% else %}
            <hr class="mod"/>
            <div class="info_scrollbox2">
                {% if char04.charImageInfo %}
                {{char04.charImageInfo|linebreaksbr|safe}}
                {% endif %}
            </div>
            <hr/>
            {% endif %}
        </div>
    </div>

    <div class="etc_content hidden" id="etc_section4">
        <div class="personality_wrap">
            <div class="imgInfo_header">
            </div>
            <hr/>
            <div class="info_scrollbox2">
                {{char04.charEtc|linebreaksbr|safe}}
            </div>
            <hr/>
        </div>
    </div>

    <div class="wand_content hidden" id="wand_section4">
        <div class="personality_wrap">
            <div class="keywords">
                <button class="keywordbtn">{{char04.charWand1}}</button>
                <button class="keywordbtn">{{char04.charWand2}}</button>
                <button class="keywordbtn">{{char04.charWand3}}"</button>
                <button class="keywordbtn">{{char04.charWand4}}</button>
            </div>
            <hr/>
            <div class="info_scrollbox">
                {% if char04.charWandInfo %}
                {{char04.charWandInfo|linebreaksbr|safe}}
                {% elif char04.charFirstName == "Patch" %}
                <img src={% static "img/패치포트리스.png" %}>
                {% else %}
                {% endif %}
            </div>
            <hr/>
        </div>
    </div>

</div>