{% load static %}

 <!-- 기본정보 -->
 <div class="info_wrap" id="profile-section7">
    <div class="info_content">
        <div class="catchphrase">
            [ {{char07.charCatchPhrase}} ]
        </div>
        <div class="name_wrap">
            <div class="name_content">
                <p class="name1">
                    {{char07.charEngName}}
                </p>
                <p class="name2">
                    {{char07.charName}}
                </p>
            </div>
        </div>
        <div class="phrase">
            <p><span>"  </span> {{char07.charPhrase}} <span>  "</span></p>
        </div>
        <div class="spec_wrap">
            <div class="spec_content">
                <div class="spec_info_content">
                    <div class="info_line_content">
                        <p>{{char07.charSex}} | {{char07.charHeight}}cm | {{char07.charWeight}}kg | {{char07.charNationality}} | {{char07.charBlood}}</p>
                    </div>
                </div>
                {% if char04.charHouse == "후플푸프" %}
                    <img class="houseimgH" src="{% static 'img/' %}{{ char07.charHouse }}.png">
                {% else %}
                    <img class="houseimg" src="{% static 'img/' %}{{ char07.charHouse }}.png">
                {% endif %}
            </div>
        </div>
    </div>

    <div class="button_content">
        <div class="button_wrap">
            <button class="infobtn" onclick="showProfile7()">기본 정보</button>
            {% if char07.charCommission  or char07.charImageInfo %}
            <button class="infobtn" onclick="showImgInfo7()">외관</button>
            {% endif %}
            <button class="infobtn" onclick="showEtc7()">상세 정보</button>
            <button class="infobtn" onclick="showWand7()">지팡이</button>
        </div>
    </div>

    <div class="personality_content" id="personality_section7">
        <div class="personality_wrap">
            <div class="keywords">
                <button class="keywordbtn">{{char07.charKeyword1}}</button>
                <button class="keywordbtn">{{char07.charKeyword2}}</button>
                <button class="keywordbtn">{{char07.charKeyword3}}</button>
            </div>
            <hr/>
            <div class="info_scrollbox">
                {{char07.charPersonality|linebreaksbr|safe}}
            </div>
            <hr/>
        </div>
    </div>

    <div class="imgInfo_content hidden" id="imgInfo_section7">
        <div class="personality_wrap">
            {% if char07.charCommission %}
            <div class="imgInfo_header">
                <button class="keywordbtn">ⓒ {{char07.charCommissionInfo}}</button>
            </div>
            <hr/>
            <div class="info_scrollbox">
                {% if char07.charImageInfo %}
                {{char07.charImageInfo|linebreaksbr|safe}}
                {% endif %}
            </div>
            <hr/>
            {% else %}
            <hr class="mod"/>
            <div class="info_scrollbox2">
                {% if char07.charImageInfo %}
                {{char07.charImageInfo|linebreaksbr|safe}}
                {% endif %}
            </div>
            <hr/>
            {% endif %}
        </div>
    </div>

    <div class="etc_content hidden" id="etc_section7">
        <div class="personality_wrap">
            <div class="imgInfo_header">
            </div>
            <hr/>
            <div class="info_scrollbox2">
                {{char07.charEtc|linebreaksbr|safe}}
            </div>
            <hr/>
        </div>
    </div>

    <div class="wand_content hidden" id="wand_section7">
        <div class="personality_wrap">
            <div class="keywords">
                <button class="keywordbtn">{{char07.charWand1}}</button>
                <button class="keywordbtn">{{char07.charWand2}}</button>
                <button class="keywordbtn">{{char07.charWand3}}"</button>
                <button class="keywordbtn">{{char07.charWand4}}</button>
            </div>
            <hr/>
            <div class="info_scrollbox">
                {% if char07.charWandInfo %}
                {{char07.charWandInfo|linebreaksbr|safe}}
                {% elif char07.charFirstName == "Patch" %}
                <img src={% static "img/패치포트리스.png" %}>
                {% else %}
                {% endif %}
            </div>
            <hr/>
        </div>
    </div>

</div>
