{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/member/member.css' %}">
{% endblock %}

{% block content %}
<div class="member_content_wrap fade-in-left-to-right">
    <div class="member_content">
        {% for char04 in chars %}
        <div class="member_card">
            <div class="member_card_up">               
                <div class="member_house">
                    <img src="{% static 'img/' %}{{ char04.charHouse }}.png">
                </div>              
                <div class="member_frame">
                    <img src={% static "img/멤버별.png" %}>
                </div>
                <a href="/member/{{char04.charFirstName}}">
                    <div class="member_overlay"></div>
                </a>
                <img class="member_img" src="{% static 'img/charac/07/02/' %}{{ char04.charImageP }}.png">
            </div>
            <div class="member_card_down">
                {% if char04.charFirstName == "Agatha" or char04.charFirstName == "Margot" or char04.charFirstName == "Ezekiel" or char04.charFirstName == "Soniya" %}
                <img class="b" src="{% static 'img/badge.png' %}">                
                {% endif %}
                {{char04.charName}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
