{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/member/profile.css' %}">
{% endblock %}

{% block content %}

<div class="overlay"></div> <!-- 흐림 효과 적용 영역 -->

<a href="/member" class="goback">RETURN</a>

<div class="content">


<div class="character_wrap fade-in-left" id="grade7">
    <div class="cha">
        <img class="character" src="{% static 'img/charac/07/01/' %}{{ char07.charImageA }}.png"></img>
    </div>
</div>

{% if char.charProfileMusic %}
<div id="profile_music" class="hidden" data-music="{{char.charProfileMusic}}.mp3"></div>
{% else %}
{% endif %}

<div class="wrap fade-in-right">
    <div class="inven">
        <button class="transbtn" onclick="show7grade()">Grade 7</button>
        <button class="transbtn" onclick="showInventory()">인벤토리</button>
    </div>


    <div class="info_wrap" id="profile-section7">
        <div class="content1">
            <div class="catchphrase">
                <p>일찍 일어나는 고양이가 쥐를 잡는다</p>
            </div>
            <div class="name_wrap">
                <img class="position" src="{% static 'img/profile/tank.png' %}" alt="position">
                <div class="name_info">
                    <p>카르디엘 실베스터</p>
                    <p>Cardiell Sylvester</p>
                    <p>Dark Elf</p>
                </div>
                <img class="star" src="{% static 'img/profile/star.png' %}" alt="star">
            </div>
            <div class="sub_wrap">
                <div class="lines">
                    <p>" 믿고 맡겨보시죠<br>장사 수완의 기본, '신뢰'아니겠나요? "</p>
                </div>
                <div class="sub_info">
                    MALE | 378세 | 179cm | 76kg
                </div>
            </div>
        </div>
          
        <div class="content2"> 
            <button class="sub_section">
                <span>PERSONALITY</span>
            </button>
            {% if char07.charCommission  or char07.charImageInfo %}
            <button class="sub_section">
                <span>APPEARANCE</span>
            </button>
            {% endif %}
            <button class="sub_section">
                <span>ETC</span>
            </button>
            <button class="sub_section">
                <span>STATS</span>
            </button>
        </div>

        <div class="content_personality">
            <div class="keyword_wrap">
                <div class="keyword">
                    <img class="prof_star" src="{% static 'img/profile/personality.png' %}" alt="position">
                    {{char07.charKeyword1}}
                </div>
                <div class="keyword">
                    <img class="prof_star" src="{% static 'img/profile/personality.png' %}" alt="position">
                    {{char07.charKeyword2}}
                </div>
                <div class="keyword">
                    <img class="prof_star" src="{% static 'img/profile/personality.png' %}" alt="position">
                    {{char07.charKeyword3}}
                </div>
            </div>

            <div class="scroll_box">
                <p>
                    {{char07.charPersonality|linebreaksbr|safe}}
                </p>
            </div>
        </div>

        <div class="content_appearance">
            
            <div class="keyword_wrap">
                <div class="keyword">
                    {% if char07.charCommission %}
                    <img class="prof_star" src="{% static 'img/profile/personality.png' %}" alt="position">
                    vvr325_3
                    {% endif %}
                </div>
            </div>

            <div class="scroll_box">
                {% if char07.charImageInfo %}
                <p>
                    {{ char07.charImageInfo|linebreaksbr|safe }}  
                </p>
                {% endif %}
            </div>
        </div>

        <div class="content_etc">
            
            <div class="keyword_wrap">
                <div class="keyword">

                </div>
            </div>

            <div class="scroll_box2">
                <p>
                    {{ char07.charEtc|linebreaksbr|safe }}  
                </p>
            </div>
        </div>

        <div class="content_stats">
            <div class="progressbar">
                <div class="stat">
                <label>체력</label>
                <progress value="4" max="5"></progress>
                </div>
                <div class="stat">
                <label>공격력</label>
                <progress value="5" max="5"></progress>
                </div>
                <div class="stat">
                <label>방어력</label>
                <progress value="2" max="5"></progress>
                </div>
                <div class="stat">
                <label>회복력</label>
                <progress value="1" max="5"></progress>
                </div>
                <div class="stat">
                <label>운</label>
                <progress value="3" max="5"></progress>
                </div>
            </div>
            
            <div class="skill_wrap">
                <div class="skill_title">
                    <span>SKILL</span>
                    <img class="prof_star" src="{% static 'img/profile/personality.png' %}" alt="position">
                </div>
                <div class="skill_info">
                    <div class="skill_content">
                        <p class="skill_name">방패 밀치기</p>
                        <p class="skill_ex">범위 내 지정 적 1명 공격력 30%+방어력 80% 피해 + 30% 확률로 기절</p>
                    </div>
                    <div class="skill_content">
                        <p class="skill_name">치유</p>
                        <p class="skill_ex">아군 1명 HP 30% 회복</p>
                    </div>
                    <div class="skill_content">
                        <p class="skill_name">약점 관통</p>
                        <p class="skill_ex">적의 방어력을 무시하고 공격력의 150%의 피해를 가한다</p>
                    </div>
                </div>
            </div>


            

        </div>



    </div>
</div>

</div>




<script>
    const buttons = document.querySelectorAll('.sub_section');
    const contents = {
        'PERSONALITY': document.querySelector('.content_personality'),
        'APPEARANCE': document.querySelector('.content_appearance'),
        'ETC': document.querySelector('.content_etc'),
        'STATS': document.querySelector('.content_stats'),
    };

    buttons.forEach(button => {
        button.addEventListener('click', () => {
            Object.values(contents).forEach(c => c.style.display = 'none');

            const key = button.textContent.trim();
            if(contents[key]){
                contents[key].style.display = 'block';
            }
        });
    });
</script>

{% endblock %}