{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/member/member.css' %}">
{% endblock %}

{% block content %}

<a href="/" class="goback">RETURN</a>

<img src="{% static 'img/profile/star.png' %}">

<div class="member_content_wrap fade-in-left-to-right">
    <div class="member_content">
        {% for char04 in chars %}
        <div class="member_card">
            <div class="member_card_up">               
                <div class="frame">
                    <img src="{% static 'img/profile/frame' %}.png">
                </div>  
                <div class="member_overlay"></div>                            
                <img class="member_img" src="{% static 'img/charac/narvia_crop' %}.png">
                <div class="member_info">

                </div>
                <img class="member_back" src={% static 'img/profile/frame_back.png' %}>
            </div>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
