{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/member/member.css' %}">
{% endblock %}

{% block content %}

<a href="/" class="goback">RETURN</a>

<div class="header_wrap">
    <img class="header_star" src="{% static 'img/profile/star.png' %}" alt="Star Decoration">
    
    <h1 class="header_title">YGGDRASIL EXPEDITION</h1>
    <h3 class="header_subtitle">위그드라실 원정대</h3>
</div>

<div class="member_content_wrap fade-in-left-to-right">
    <div class="member_content">
        {% for char in chars %}
        <a href="/member/{{char.charEngName}}">
        <div class="member_card">
            <div class="member_card_up">               
                <div class="frame">
                    <img src="{% static 'img/profile/frame' %}.png">
                </div>  
                <div class="member_overlay"></div> </a>                           
                <img class="member_img" src="{% static 'img/charac/' %}{{ char.charEngName|add:'1.png' }}" alt="{{ char.charName }} Image">
                <div class="member_info">
                    <h3 class="char_name">{{char.charName}}</h3>
                    <p class="char_origin">{{char.charRealm}}</p>
                </div>
                <img class="member_back" src={% static 'img/profile/frame_back.png' %}>
            </div>

        </div>
        </a>
        {% endfor %}
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll(".member_card");
    const columns = 5; // 한 줄당 열 개수

    // ✅ wrap을 보이게 설정
    document.querySelector(".member_content_wrap").style.visibility = "visible";

    cards.forEach((card, index) => {
        const columnIndex = index % columns; 
        const delay = columnIndex * 0.1;
        card.style.animationDelay = `${delay}s`;
    });
});

</script>


{% endblock %}
