{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/member/profile.css' %}">
{% endblock %}

{% block content %}

<div class="overlay"></div> <!-- 흐림 효과 적용 영역 -->

<a href="/member" class="goback">RETURN</a>

<div class="content">


<div class="character_wrap fade-in-left" id="grade7">
    <div class="cha">
        <img class="character" src="{% static 'img/charac/' %}{{char.charEngName}}.png"></img>
    </div>
</div>

{% if char.charProfileMusic %}
<div id="profile_music" class="hidden" data-music="{{char.charProfileMusic}}.mp3"></div>
{% else %}
{% endif %}

<div class="wrap fade-in-right">
    <div class="inven">

    </div>


    <div class="info_wrap" id="profile-section7">
        <div class="content1">
            <div class="catchphrase">
                <p>{{char.charPhrase}}</p>
            </div>
            <div class="name_wrap">
                <img class="position" src="{% static 'img/profile/'%}{{char.charPosition}}.png" alt="position">
                <div class="name_info">
                    <p>{{char.charName}}</p>
                    <p>{{char.charEngName}}</p>
                    <p>{{char.charSpecies}}</p>
                </div>
                <img class="star" src="{% static 'img/profile/star.png' %}" alt="star">
            </div>
            <div class="sub_wrap">
                <div class="lines">
                    <p>{{char.charPhrase}}</p>
                </div>
                <div class="sub_info">
                    {{char.charSex}} | {{char.charAge}}세 | {{char.charHeight}}cm | {{char.charWeight}}kg
                </div>
            </div>
        </div>
          
        <div class="content2"> 
            <button class="sub_section">
                <span>PERSONALITY</span>
            </button>
            {% if char07.charCommission  or char07.charImageInfo %}
            <button class="sub_section">
                <span>APPEARANCE</span>
            </button>
            {% endif %}
            <button class="sub_section">
                <span>ETC</span>
            </button>
            <button class="sub_section">
                <span>STATS</span>
            </button>
        </div>

        <div class="content_personality">
            <div class="keyword_wrap">
                <div class="keyword">
                    <img class="prof_star" src="{% static 'img/profile/personality.png' %}" alt="position">
                    {{char.charKeyword1}}
                </div>
                <div class="keyword">
                    <img class="prof_star" src="{% static 'img/profile/personality.png' %}" alt="position">
                    {{char.charKeyword2}}
                </div>
                <div class="keyword">
                    <img class="prof_star" src="{% static 'img/profile/personality.png' %}" alt="position">
                    {{char.charKeyword3}}
                </div>
            </div>

            <div class="scroll_box">
                <p>
                    {{char.charPersonality|linebreaksbr|safe}}
                </p>
            </div>
        </div>

        <div class="content_appearance">
            
            <div class="keyword_wrap">
                <div class="keyword">
                    {% if char07.charCommission %}
                    <img class="prof_star" src="{% static 'img/profile/personality.png' %}" alt="position">
                    vvr325_3
                    {% endif %}
                </div>
            </div>

            <div class="scroll_box">
                {% if char.charImageInfo %}
                <p>
                    {{ char.charImageInfo|linebreaksbr|safe }}  
                </p>
                {% endif %}
            </div>
        </div>

        <div class="content_etc">
            
            <div class="keyword_wrap">
                <div class="keyword">

                </div>
            </div>

            <div class="scroll_box2">
                <p>
                    {{ char.charEtc|linebreaksbr|safe }}  
                </p>
            </div>
        </div>

        <div class="content_stats">
            <div class="progressbar">
                <div class="stat">
                <label>체력</label>
                <progress value="{{char.charHP}}" max="5"></progress>
                </div>
                <div class="stat">
                <label>공격력</label>
                <progress value="{{char.charATK}}" max="5"></progress>
                </div>
                <div class="stat">
                <label>방어력</label>
                <progress value="{{char.charDEF}}" max="5"></progress>
                </div>
                <div class="stat">
                <label>회복력</label>
                <progress value="{{char.chaRES}}" max="5"></progress>
                </div>
                <div class="stat">
                <label>운</label>
                <progress value="{{char.charLUK}}" max="5"></progress>
                </div>
            </div>
            
            <div class="skill_wrap">
                <div class="skill_title">
                    <span>SKILL</span>
                    <img class="prof_star" src="{% static 'img/profile/personality.png' %}" alt="position">
                </div>
                <div class="skill_info">
                    <div class="skill_content">
                        <p class="skill_name">{{char.charSkill1}}</p>
                        <p class="skill_ex">{{char.charSkill1info}}</p>
                    </div>
                    <div class="skill_content">
                        <p class="skill_name">{{char.charSkill2}}</p>
                        <p class="skill_ex">{{char.charSkill2info}}</p>
                    </div>
                    <div class="skill_content">
                        <p class="skill_name">{{char.charSkill3}}</p>
                        <p class="skill_ex">{{char.charSkill3info}}</p>
                    </div>
                </div>
            </div>


            

        </div>



    </div>
</div>

</div>




<script>
    const buttons = document.querySelectorAll('.sub_section');
    const contents = {
        'PERSONALITY': document.querySelector('.content_personality'),
        'APPEARANCE': document.querySelector('.content_appearance'),
        'ETC': document.querySelector('.content_etc'),
        'STATS': document.querySelector('.content_stats'),
    };

    buttons.forEach(button => {
        button.addEventListener('click', () => {
            Object.values(contents).forEach(c => c.style.display = 'none');

            const key = button.textContent.trim();
            if(contents[key]){
                contents[key].style.display = 'block';
            }
        });
    });
</script>

{% endblock %}