html, body {
    width: 100%;
    height: 100vh; /* 높이 100%로 설정 */
    margin: 0; /* 기본 여백 제거 */
    position: relative;
    overflow: hidden;
    user-select: none;
}

.hidden {
    display: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../img/potion_back1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2; /* 다른 콘텐츠 아래로 배치 */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px); 
    z-index: -1; 
}

.gradient-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); /* 그라데이션 */
    z-index: 0; 
}


.content-wrapper {
    display: flex; /* Use flexbox to position items side by side */
    align-items: center; /* Center items vertically */
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}

.goback {
    position: fixed;
    top: 30px;
    left: 50px;
    z-index: 30;
    width: 45px;
    height: 45px;
    background-color: #3D485A;
    border: 2px solid #DCC599;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
} .a {
    text-decoration: none;
    color: #dbdbdb !important;
    user-select: none;
} .goback i {
    color: #dbdbdb !important;
    font-size: 22px;
}


.btnss {
    margin: 0px -15px 200px 0px;
    display: flex;
    flex-direction: column;
}

.recipe_btn {
    width: 133px;
    height: 45px;
    border: none;
    background: url("../../img/레시피.png");
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    margin: 7px 0px;
}

.status_btn {
    width: 133px;
    height: 45px;
    border: none;
    background: url("../../img/포션현황.png");
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    margin: 7px 0px;
}

.recipe_box {
    width: 658px;
    height: 949px;
    background: url("../../img/class_inventory.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(5px 5px 5px #52595f);
    position: relative; /* Change to relative for flex alignment */
    user-select: none;
    overflow: visible;
}



.carousel {
    width: 500px;
    height: 500px;

    position: absolute;
    top: 25%; /* 위쪽에 고정 */
    left: 50%; /* 수평 중앙 */
    transform: translateX(-50%); /* 수평 중앙 정렬 */
    overflow: visible;
}

.carousel-inner {
    width: 400px;
    height: 450px;

    position: absolute;
    top: 0%; /* 위쪽에 고정 */
    left: 50%; /* 수평 중앙 */
    transform: translateX(-50%); /* 수평 중앙 정렬 */
    overflow: visible;
}

.item_wrap {
    width: 400px;
    height: auto;
    max-height: 450px;
    overflow: visible;
    
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 90px;
    height: 90px;
    background: url("../../img/item_box.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 7px 5px;
    overflow: visible;
}

.item img {
    width: 50%;
}

.item_count {
    margin: 0;
    position: absolute;
    bottom: 15px;
    right: 17px;
    transform: translate(50%, 50%); /* 수평 중앙 정렬 */
    color: #dbdbdb;
    z-index: 2;
    font-family: "Hahmlet", serif;
}

.kettle_background {
    width: 1139px;
    height: 520px;
    background: url("../../img/class_back.png");
    background-repeat: no-repeat;
    background-size: cover;

    position: fixed;
    bottom: 0px;    
    left: 5%; 
    transform: translate(0, 0);
    z-index: 0;
    user-select: none;
}

.select_background {
    width: 500px;
    height: 500px;
    background: url("../../img/class_make.png");
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    top: -17%;    
    left: 50%; 
    transform: translate(-50%, -50%); /* 수평 중앙 정렬 */
    z-index: 1;
    user-select: none;
}

.select_wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.select_content1 {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 6%;
    left: 51.2%;
    transform: translate(-50%, 0);
} .select_content2 {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 48%;
    left: 6.2%;
    transform: translate(0%, -50%);
} .select_content3 {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 48%;
    right: 4.5%;
    transform: translate(0%, -50%);
} .select_content4 {
    width: 110px;
    height: 110px;
    position: absolute;
    bottom: 6%;
    left: 51.2%;
    transform: translate(-50%, 0);
}

#scontent img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 50%;
}


.make_btn {
    width: 390px;
    height: 111px;
    background: url("../../img/조합하기.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border: none;

    position: absolute;
    bottom: -8%;    
    left: 50%; 
    z-index: 2;
    transform: translate(-50%, -50%); /* 수평 중앙 정렬 */
    font-family: "Hahmlet", serif;
    font-size: 25px;
    color: #dbdbdb;
    padding-bottom: 40px; /* Adjust this value to move the text up */
}

.make_btn:hover,
.make_btn:active {
    background: url("../../img/조합하기.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    color: white;
    transition: color 0.3s ease;
}


.reset_btn {
    position: absolute;
    bottom: 23%;    
    left: 50%; 
    z-index: 2;
    transform: translate(-50%, -50%); /* 수평 중앙 정렬 */
    font-family: "Hahmlet", serif;
    font-size: 25px;
    color: #52595f;
    background-color: #dbdbdb;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    font-size: 20px;
}


.item_description {
    position: absolute;
    background-color: rgba(219, 219, 219, 0.8); 
    padding: 5px;
    border-radius: 5px;
    display: none; /* Hide by default */
    z-index: 3000; 
    width: 150px; 
    height: auto;
    text-align: center;
    color: #2e3942;
    font-family: "Hahmlet", serif;
}

.item:hover .item_description {
    display: block; /* Show on hover */
    top: 105%; /* Position it below the item */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
}

.item_description p {
    margin: 0;
}

.category {
    background-color: #d3bb8e;
    color: white;
    padding: 2px;
    font-size: small;
    border-radius: 8px;
    width: 80px;
    display: inline-block; 
    text-align: center;
}

.item_info {
    font-size: small;
    margin-top: 4px !important;
}


/* 레세피 북 */
.book {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1161px;
    height: 733px;
    background: url("../../img/recipe_book.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10; /* Ensure it's above other content */
}


/* 모달 */
.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 728px;
    height: 607px;
    background: url("../../img/gift_modal.png");
    background-size: contain;
    border: none;
    user-select: none;
    filter: drop-shadow(8px 8px 8px #232425);
}

#body_content{
    text-align: center;
    font-family: "Hahmlet", serif;
}

.selected_box {
    background-color: #161718;
    border-radius: 10px;
    padding: 20px 70px;
    color: rgb(255, 220, 105);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
} .selected_box p {
    margin: 0;
    margin-bottom: 5px;
}
.selected span {
    margin: 0px 3px;
}

#modalTitle {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: 500;
    color: #eeeeee;
    z-index: 5;
    font-family: 'Tangerine', cursive;

}
.selected_image_box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selected_image {
    display: flex;
}

.selected_image span {
    background: url("../../img/potion_box.png");
    width: 110px;
    height: 110px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 2px;
} .selected_image span img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 50%;
} 

.modal_info {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: #dbdbdb;
}

.modal_info p {
    margin: 0;
} .modal_info span {
    margin-right: 5px;
}

.modal_btns {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%, -50%); 
} .modal_btns button { 
    background-color: #dbdbdb;
    font-size: large;
    border: none;
    border-radius: 5px;
    width:110px;
    height: 50px;
    margin: 0px 10px;
}







/* 모달 */
#secondmodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 641px;
    height: 281px;
    background: url("../../img/purchase_modal.png");
    background-size: contain;
    border: none;
    user-select: none;
    filter: drop-shadow(8px 8px 8px #232425);
    text-align: center;
    color: #dbdbdb;
}

#resultModalTitle {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: "Arima", system-ui;
}

#resultModalImage {
    background: url("../../img/potion_box.png");
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} #resultModalImage img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 50%;
} 

#resultModalBody {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-family: "Hahmlet", serif;
}

.xbtn {
    position: absolute;
    top: 18%;
    right: 7%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    color: white;
    font-size: 30px;
}


#plsmodal {
    color: #dbdbdb;
    text-align: center;
    font-family: "Hahmlet", serif;
}

#statusModalTitle {
    position: fixed;
    top: 23%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#statusModalBody {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}