html, body {
    overflow: hidden; 
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2; /* 다른 콘텐츠 아래로 배치 */
}

@font-face {
    font-family: 'MyCustomFont'; /* 원하는 폰트 이름 */
    src: url('../Killega.ttf') format('truetype'); /* TTF 파일 경로 */
    font-weight: normal; /* 폰트 두께 (optional) */
    font-style: normal; /* 폰트 스타일 (optional) */
}

/* 버튼 클릭 */

.ripple {
  position: absolute;
  border-radius: 50%;
  border: 2px solid rgb(255, 245, 186); /* 노란색 테두리 */
  background: transparent;                  /* 내부는 비움 */
  transform: scale(0);
  animation: ripple-effect 0.5s ease-out;
  pointer-events: none;
  z-index: 9999;
}

@keyframes ripple-effect {
  to {
    transform: scale(1.3); 
    opacity: 0;          
  }
}


.goback {
  position: fixed;
  bottom: 5%;
  left: 2%;
  z-index: 30;
  background: linear-gradient(to right, rgb(138, 127, 76), rgb(143, 131, 77,0));
  color: rgb(228, 223, 214);
  padding: 7px 35px 7px 19px;
  font-size: large;
  border-radius: 7px;
  font-family: 'Hamlet',serif;

  opacity: 0;                
  transform: translateX(30px);
  animation: fadeSlideIntoRight 1s ease-out forwards; 
  animation-delay: 0.4s;
}

@keyframes fadeSlideIntoRight {
  to {
    opacity: 1;              /* 점점 보이게 */
    transform: translateX(0); /* 제자리로 */
  }
}

.goback:hover {
  text-decoration: none;
  color: rgb(228, 223, 214);
  filter: drop-shadow(2px 2px 2px rgb(65, 65, 65));
}


::selection {
    background-color: #a39f93ea !important;
    color: #eeeeee; /* 선택된 텍스트의 색상을 검정으로 설정 */
}

/* Chrome, Edge, Safari (WebKit) */
::-webkit-scrollbar {
  width: 10px;              /* 세로 스크롤바 두께 */
  height: 10px;             /* 가로 스크롤바 두께 */
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05); /* 트랙 배경 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8f846fc0;   /* 스크롤바 색 */
  border-radius: 10px;
  border: 2px solid rgba(48, 45, 41, 0.5); /* 배경색과 어울리는 보더 */
}

::-webkit-scrollbar-thumb:hover {
  background: #8a6f39c0;  /* 호버 시 색 */
}