/* Centralized container */
.member_content_wrap {
    position: fixed;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);  /* 중앙 정렬 */
    width: 1500px;
    height: 850px;
    background-color: rgba(30, 39, 61, 0.7);
    border: 4px solid #585d63;
    border-radius: 7px;
    visibility: hidden;  /* 숨겨놓고 애니메이션 시작 시 나타나게 */
}


/* Content inside the container */
.member_content {
    position: absolute;
    width: 1300px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);  /* 중앙 정렬 */
}


.member_content::-webkit-scrollbar {
    display: none;
}

.member_card {
    width: 280px;
    height: 425px;

    margin: 40px 22.5px;
}

.member_card_up {
    width: 100%;
    height: 350px;
    position: relative;
    border-radius: 7px;
} .member_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 7px;
}

.b {
    margin-right: 6px;
    margin-bottom: 5px;
}

.member_house img {
    width: 60px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
} .member_overlay {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 50%);
    position: absolute;
    width: 100%;
    height: 350px;
    top: 0px;
    left: 0px;
    z-index: 3;
    border-radius: 7px;
} .member_frame {
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

.member_card_down {
    width: 280px;
    height: 105px;
    background: 
        linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(196, 186, 145,0.3) 50%, rgba(255, 255, 255, 0) 100%), 
        url("../../img/멤버띠.png");
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 105px;
    font-family: "Hahmlet", serif;
    font-size: large;
    text-align: center;
    color: white;
    font-weight: 400;
}



.member_content_wrap.fade-in-left-to-right {
    visibility: visible;  /* 애니메이션 시작 후 보이게 */
    animation: fadeInLeftToRight 1s ease-out forwards; /* 애니메이션 적용 */
}


/* Left-to-right fade-in animation */
@keyframes fadeInLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-55%);  /* Start slightly off-screen to the left */
    }
    100% {
        opacity: 1;
        transform: translateX(-50%);  /* End at the center position */
    }
}

.fade-in-left-to-right {
    animation: fadeInLeftToRight 0.3s ease-out forwards;  /* Apply animation */
}

/* Hide scroll bar */
.member_content::-webkit-scrollbar {
    display: none;
}

