/* 오버레이 (배경 흐림) */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    z-index: -1; 
}

@font-face {
    font-family: 'hana'; /* 원하는 폰트 이름 */
    src: url('../../Hana2-Medium.ttf') format('truetype'); /* TTF 파일 경로 */
    font-weight: normal; /* 폰트 두께 (optional) */
    font-style: normal; /* 폰트 스타일 (optional) */
}

@font-face {
    font-family: 'romantice'; /* 원하는 폰트 이름 */
    src: url('../../romantice.otf') format('opentype'); /* TTF 파일 경로 */
    font-weight: normal; /* 폰트 두께 (optional) */
    font-style: normal; /* 폰트 스타일 (optional) */
}

@font-face {
    font-family: 'sageyl'; /* 원하는 폰트 이름 */
    src: url('../../sageyl.ttf') format('truetype'); /* TTF 파일 경로 */
    font-weight: normal; /* 폰트 두께 (optional) */
    font-style: normal; /* 폰트 스타일 (optional) */
}


/* 전체 컨텐츠 */
.content {
    display: flex;
}

/* 캐릭터 이미지 영역 */
.character_wrap {
    min-width: 1240px;
    margin-top: 2vh;
    margin-left: 2%;
    height: 98vh;
    overflow-y: auto;
    display: flex;
    justify-content: center; 
    position: relative; 
    user-select: none;
}

.character_wrap::-webkit-scrollbar {
    display: none;
}

.cha {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
}

.character {
    height: 150vh;
}

/* 오른쪽 고정 영역 */
.wrap {
    width: 780px;
    height: 100vh;
    position: fixed;
    right: 0;
    transform: scale(0.9);
}

/* 오른쪽 버튼 영역 */
.inven {
    position: absolute; 
    top: 30px;
    left: 0px;
    z-index: 1; 
    display: flex;
    flex-direction: column; 
    gap: 10px; 
} 

.transbtn {
    background: url("../../img/프로필띠.png");
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    width: 125px;
    height: 37px;
    font-family: "Hahmlet", serif;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 3px;
    color: #dbdbdb;
    user-select: none;
}

/* fade-in 애니메이션 */
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(5%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-5%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.fade-in-right {
    animation: fadeInRight 0.7s ease-out forwards;
}

.fade-in-left {
    animation: fadeInLeft 0.7s ease-out forwards;
}

/* 숨김 처리 */
.hidden {
    display: none !important;
}




/* 오른쪽 정보 박스 */
.info_wrap {
    width: 655px;
    height: 100vh;
    background: rgba(36, 34, 30, 0.85);
    box-shadow: 5px 5px 5px 13px rgba(0, 0, 0, 0.2);
    justify-content: center; 
    position: fixed;
    right: 0;
    font-family: 'sans serif';
    z-index: 2;
    color: rgb(224, 223, 217);
}

.content1 {
    height: 38%;
    align-items: center;
    text-align: center;
}

@font-face {
    font-family: 'JoseonBoldMyongjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKm.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

.catchphrase {
    color: rgb(199, 184, 136);
    margin-top: 4%;
    margin-bottom: 3%;
    font-family: 'JoseonBoldMyongjo';
}


.name_wrap {
    display: flex;
    justify-content: center;
}

.name_info {
    width: 50%;
    text-align: right;
    padding-right: 2%;
    padding-top: 2%;
}

.name_info p:first-child {
    font-size: 30px;
    font-weight: 500;
    color: rgb(230, 224, 203);
    transform: scaleY(1.1);
    margin: 0;
    font-family: 'hana';
}

.name_info p:nth-child(2) {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    font-weight: 300;
    color: rgb(167, 153, 105);
    margin: 0;
    margin-top: -7px;
}

.name_info p:last-child {
    transform: scaleY(1.1);
    font-family: 'sageyl';
    font-size: 33px;
    font-weight: 550;
    color: rgb(199, 184, 136);
    margin: 0;
    margin-top: 10px;
}

.position {
    width: 200px;
}

.star {
    margin-top: 2.2%;
    width: 45px;
    height: 45px;
}





.sub_wrap {
    text-align: right;
    font-family: "Hahmlet", serif;
    width: 80%;
    margin: 0 auto;
    margin-top: -3.5%;
}

.lines p {
    margin: 0;
    margin-bottom: 1.5%;
    font-size: 18px;
    transform: scaleY(1.1);
}

.sub_info {
    font-family: sans-serif;
    background-image: url('../../img/profile/띠지.png'); 
    background-size: cover;   
    background-repeat: no-repeat;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-right: 9%;
    border-radius: 10px;
    font-family: 'hana';
}

.content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5% auto;  /* 위아래는 2.5%, 좌우는 자동 */
    width: 85%;
}


.sub_section {
    display: flex;
    background: none;
    border: none;
    background-image: url('../../img/profile/profilebtn.png'); 
    background-size: 95% 110%; /* ← X는 100%, Y는 110%로 스케일 */
    background-repeat: no-repeat;
    width: 175px;
    height: 35px;
    padding-right: 14px;
    justify-content: center;
    color: #e4d6b2;
    font-size: 18px;
    vertical-align: middle;
    font-family: 'romantice';
    transition: transform 0.2s ease;
}

.sub_section span {
    position: relative;
    top: 10px;
}


.sub_section:active {
  transform: translateY(3px); /* 클릭 시 살짝 밑으로 */
}

.content_personality, .content_appearance,
.content_etc, .content_stats {
    height: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: -1%;
    position: relative;
}

.content_appearance {
    height: 50%;
    text-align: center;
    display: none;
    margin-top: -1%;
}


.keyword_wrap {
    display: flex;
    gap: 3%;
    justify-content: center;
    align-items: center;
}

.keyword {
    margin-top: 2.5%;
    display: flex;
    gap: 2%;
    line-height: 35px;
    white-space: nowrap;
    font-size: 17px;
    font-family: 'hana';
} .keyword img {
    margin-right: 2%;
}

.scroll_box {
    width: 85%;
    max-height: 80%;
    overflow-y: auto;
    margin: 20px auto; 
    line-height: 1.5;
    font-size: 16.5px;
    text-align: left;
    padding: 1% 1%;
    font-weight: 300;
}

.scroll_box2 {
    width: 85%;
    max-height: 88%;
    overflow-y: auto;
    margin: 20px auto; 
    line-height: 1.5;
    font-size: 16.5px;
    text-align: left;
    padding: 1% 1%;
    font-weight: 300;
}


.cms_wrap {
    display: flex;
    justify-content: left;
    align-items: left;
}

.cms {
    margin-top: 2%;
    display: flex;
    line-height: 35px;
    white-space: nowrap;
    font-size: 19px;
    align-items: center;
} .cms img {
    margin-right: 2%;
}





.progressbar {
    width: 40%;
    position: absolute;
    top: 5%;
    left: 30%;
}

.skill_wrap {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 0;
}

.skill_title {
    text-align: right;
    margin-right: 10%;
    margin-top: -1%;
}

.skill_title span {
    font-family: 'romantice';
    font-size: 28px;

}

.skill_title img {
    margin-bottom: 10px;
}



.stat {
  display: flex;
  align-items: center;
  margin: -10px 0;
  justify-content: flex-start; /* 왼쪽 정렬 */
}

.stat label {
  font-size: 16px;
  font-family: 'hana';
  color: rgb(224, 223, 217);
  transform: scaleY(1.05);
  width: 50px;   /* 라벨 고정 폭 */
  text-align: left; /* 글자도 왼쪽 정렬 */
  margin-top: 10px;
  font-weight: 200;
}

progress[value] {
  --color: rgba(163, 154, 122, 0.87);
  --background: rgba(190, 166, 166, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid 2px rgba(163, 154, 122, 0.87);
  width: 220px;
  height: 24px; /* 높이 지정 */
  margin-left: 10px;
  padding: 2px;
  border-radius: 10em;
  background: var(--background);
}

/* 크롬, 사파리 */
progress[value]::-webkit-progress-bar {
  height: 16px;   /* 높이 맞추기 */
  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-value {
  height: 16px;   /* 높이 맞추기 */
  border-radius: 10em;
  background: var(--color);
}

.skill_info {
    display: flex;
    scale: 0.85;
    justify-content: center;
    margin-top: -2%;
    gap: 2%;
}

.skill_content {
    background: url("../../img/profile/skillbox.png");
    width: 191px;
    height: 214px;
    font-family: 'hana';
} .skill_name {
    font-size: 21px;
    margin-top: 12%;
    font-family: 'Times New Roman', Times, serif;
    transform: scaleY(1.1);
    font-weight: 500;
} .skill_ex {
    margin-top: 3%;
    padding-left: 9%;
    padding-right: 9%;
    text-align: center;
}