.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px); /* 흐림 효과 적용 */
    z-index: -1; /* 배경 위에 표시되도록 설정 */
}

.content {
    display: flex;
}

.character_wrap {
    width: 1140px;
    margin-top: 5vh;
    height: 95vh;
    overflow-y: auto;
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    position: relative; /* 버튼의 절대 위치를 위한 기준 설정 */
}

.character_wrap::-webkit-scrollbar {
    display: none;
}

.transbtn {
    background: url("../../img/프로필띠.png");
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    width: 125px;
    height: 37px;
    font-family: "Hahmlet", serif;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 3px;
    color: #dbdbdb;
    user-select: none;
}
 
.character {
    height: 140vh;
} .character2 {
    height: 95vh;
} .character3 {
    height: 180vh;
}.character4 {
    margin-left: -12vw;
    height: 100vh;
} .character5 {
    margin-left: 27vw;
    height: 100vh;
}



.wrap {
    width: 905px;
    height: 100vh;
    display: flex;
    position: relative;
    position: fixed;
    right: 0;
}


.inven {
    position: absolute; 
    top: 30px; /* 상단에서의 거리 */
    left: 0px; /* 오른쪽에서의 거리 */
    z-index: 1; /* 다른 콘텐츠 위로 배치 */
    display: flex;
    flex-direction: column; /* 버튼을 수직으로 나열 */
    gap: 10px; /* 버튼 간의 간격 */
}


.info_wrap {
    width: 780px;
    height: 100vh;
    background: url("../../img/프로필_오른박스.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px 13px rgba(0, 0, 0, 0.2);
    justify-content: center; 
    position: fixed;
    right: 0;
    font-family: "Hahmlet", serif;
    z-index: 2;
}

.inventory_wrap {
    width: 780px;
    height: 100vh;
    background: url("../../img/프로필_오른박스.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px 13px rgba(0, 0, 0, 0.2);
    justify-content: center; 
    position: fixed;
    right: 0;
    font-family: "Hahmlet", serif;
    z-index: 2;
}


.cha {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
}


/* 숨긴 상태의 섹션 */
.hidden {
    display: none !important;
}

/* 기본정보 */
.info_content {
    height: 37vh;
}

.catchphrase {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    color: #27293b;
}

.name_wrap {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.name_content {
    width: 447px;
    height: 110px;
    background: url("../../img/이름띠.png");
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'MyCustomFont'; /* 원하는 폰트 이름 */
    src: url('../../ADESTON.TTF') format('truetype'); /* TTF 파일 경로 */
    font-weight: normal; /* 폰트 두께 (optional) */
    font-style: normal; /* 폰트 스타일 (optional) */
}

/* 영어이름 */
.name1 {
    text-align: center;
    height: 96px;
    line-height: 96px;
    margin: 0px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'MyCustomFont', sans-serif;
    background: linear-gradient(to bottom, #a3b3dd 10%, #192333 90%); /* 하얀색에서 #2e325e로 그라데이션 */
    -webkit-background-clip: text; /* Webkit 브라우저에서 배경이 텍스트로 잘리도록 설정 */
    background-clip: text; /* 표준화된 방법 */
    color: transparent; /* 텍스트 색상을 투명으로 설정 */
}
/* 한국이름 */
.name2 {
    height: 24px;
    margin: -12px 40px 0px 0px;
    line-height: 24px;
    text-align: right;
    font-size: large;
    color: #353a63;
    font-weight: 400;
}

.phrase {
    height: 65px;
    line-height: 130px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    color: #313344;
    
}

.phrase p {
    margin: 0px;
}

.phrase p span {
    font-size: 30px;
}

.spec_wrap {
    display: flex;
    justify-content: center;
    height: 125px;
}

.spec_content {
    width: 90%;
    display: flex;
    justify-content: space-between;
} .houseimg {
    width: 113px;
    height: 113px;
} .houseimgH {
    width: 120px;
    height: 120px;
    margin-bottom: 1px;
}

.spec_info_content {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_line_content {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-image: linear-gradient(to left,transparent, #494F5B 35%)
}

.info_line_content p {
    line-height: 45px;
    color: #dbdbdb;
    margin: 0px 0px 0px 30px;
}

.icon_content img {
    width: 120px;
}

/* 버튼정보 */
.button_content {
    height: 1.8vh;
    margin-top: 2.2vh;
}

.button_wrap {
    text-align: right;
    margin: 10px 30px 0px 0px;
}

/* 프로필 버튼들 */
.infobtn {
    width: 85px;
    height: 30px;
    padding-bottom: 10px;
    margin: 0px 5px;
    background: none;
    border: none;
    border-top: 2px solid rgb(162, 162, 162);
    color: rgb(44, 52, 73);
}

.infobtn:hover {
    transition-duration: 0.3s;
    color: rgb(125, 149, 170);
    border-top: 2px solid rgb(44, 52, 73);

}



/* 성격란 */
.personality_content {
    height: 55vh;
    display: flex;
    justify-content: center;
}

.personality_wrap {
    width: 90%;
}

.keywords {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 15px;
}

.keywordbtn {
    background-color: transparent;
    padding: 3px 18px;
    margin: 0px 5px;
    border: solid 3px #51586d;
    border-radius: 18px;
}

hr {
    width: 100%;
    height: 3px !important;
    border: none;
    background-image: linear-gradient(to right, rgba(73, 79, 91, 0.2) 0%, rgba(73, 79, 91, 1) 50%, rgba(73, 79, 91, 0.2) 100%);
}

::selection {
    background-color: #9FA3B1; /* 하늘색 배경 */
    color: #eeeeee; /* 선택된 텍스트의 색상을 검정으로 설정 */
}



.info_scrollbox {
    width: 100%;
    height: 70%;
    font-size: large;
    overflow-y: auto;
    padding: 0px 10px;
}

.info_scrollbox::-webkit-scrollbar {
    width: 12px;
}
.info_scrollbox::-webkit-scrollbar-thumb {
    background-color: rgb(186, 189, 197,0.7);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.info_scrollbox::-webkit-scrollbar-track {
    background-color: rgb(73, 79, 91,1);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.info_scrollbox2 {
    width: 100%;
    height: 80.3%;
    font-size: large;
    overflow-y: auto;
    padding: 0px 10px;
}

.info_scrollbox2::-webkit-scrollbar {
    width: 12px;
}
.info_scrollbox2::-webkit-scrollbar-thumb {
    background-color: rgb(186, 189, 197,0.7);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.info_scrollbox2::-webkit-scrollbar-track {
    background-color: #434c72;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}





/* 외관란 */
.imgInfo_content {
    height: 55vh;
    display: flex;
    justify-content: center;
}

.imgInfo_header {
    text-align: right;
    margin-top: 35px;
    margin-bottom: 15px;
}

.mod {
    margin-top: 35px;
}


/* 기타란 */
.etc_content {
    height: 55vh;
    display: flex;
    justify-content: center;
}


/* 지팡이란 */
.wand_content {
    height: 55vh;
    display: flex;
    justify-content: center;
}






/* Add this to your CSS file or in <style> block */
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(5%);  /* Start off-screen (right) */
    }
    100% {
        opacity: 1;
        transform: translateX(0);     /* End at original position */
    }
}

.fade-in-right {
    animation: fadeInRight 0.7s ease-out forwards;  /* Apply the animation */
}

/* Optional: Add some transition for smoothness */
.hidden {
    visibility: hidden;
}

.info_scrollbox {
    position: relative;
}
.info_scrollbox img{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
}

.goback {
    position: fixed;
    top: 30px;
    left: 50px;
    z-index: 30;
    width: 45px;
    height: 45px;
    background-color: #3D485A;
    border: 2px solid #DCC599;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
} .a {
    text-decoration: none;
    color: #dbdbdb !important;
    user-select: none;
} .goback i {
    color: #dbdbdb !important;
    font-size: 22px;
}




/* 인벤토리 */


.inven_banner {
    position: absolute;
    top: 8%;
    left: 50%;
    width: 700px;
    user-select: none;
    transform: translate(-50%,-50%);
} .inven_banner img {
    width: 100%;
}

.inventory_content {
    width: 85%;
    height: 680px;
    background-color: rgba(68, 78, 94, 0.8);
    position: absolute;
    top: 15%;
    left: 50%;  
    transform: translate(-50%,0%);
    user-select: none;
    overflow: visible;
    border-radius: 7px;
}


.carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%; /* 위쪽에 고정 */
    left: 50%; /* 수평 중앙 */
    transform: translate(-50%,-50%); /* 수평 중앙 정렬 */
    overflow: visible;
}

.carousel-indicators {
    overflow: visible;
}

.carousel-inner {
    width: 80%;
    height: 90%;
    position: absolute;
    top: 0%; /* 위쪽에 고정 */
    left: 50%; /* 수평 중앙 */
    transform: translateX(-50%); /* 수평 중앙 정렬 */
    overflow: visible;
}

.item_wrap {
    width: 100%;
    height: auto;
    max-height: 450px;
    overflow: visible;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.item_wrap2 {
    width: 94.5%;
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
    height: auto;
    max-height: 450px;
}

.ibtn_wrap {
    margin-top: 12px;
}

.itembtn {
    width: 52px;
    height: 25px;
    font-size: smaller;
    border: none;
    border-radius: 10px;
    background-color: #9E9992;
    color: #dbdbdb;
}

.item {
    width: 90px;
    height: 90px;
    background: url("../../img/item_box.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
    margin: 10px 5px ;
}

.item img {
    width: 50%;
}

.item_count {
    margin: 0;
    position: absolute;
    bottom: 15px;
    right: 17px;
    transform: translate(50%, 50%); /* 수평 중앙 정렬 */
    color: #dbdbdb;
    z-index: 2;
    font-family: "Hahmlet", serif;
}

.item_description {
    position: absolute;
    background-color: rgba(219, 219, 219, 0.85); 
    padding: 10px 10px 13px 10px;
    border-radius: 5px;
    display: none; /* 기본적으로 숨겨짐 */
    z-index: 10; /* z-index를 높여서 다른 요소 위에 표시 */
    width: 170px; 
    height: auto;
    text-align: center;
    color: #2e3942;
    font-family: "Hahmlet", serif;
    font-weight: 400;
}

.item:hover .item_description,
.item .item_description:hover {
    display: block; /* item hover 시, item_description 표시, item_description 위에 hover 시에도 표시 유지 */
    top: 102%; /* 아이템 바로 아래에 위치 */
    left: 50%; /* 수평 중앙에 위치 */
    transform: translateX(-50%);
}
/* 마지막 줄의 아이템을 위한 스타일 */
.carousel-inner .item_wrap .item:nth-child(21),  /* 21번째 아이템 */
.carousel-inner .item_wrap .item:nth-child(22),  /* 22번째 아이템 */
.carousel-inner .item_wrap .item:nth-child(23),  /* 23번째 아이템 */
.carousel-inner .item_wrap .item:nth-child(24),  /* 24번째 아이템 */
.carousel-inner .item_wrap .item:nth-child(25)   /* 25번째 아이템 */
{
    position: relative; /* 필수: 자식 요소인 item_description의 위치 조정을 위해 */
}

/* 마지막 줄의 아이템에 속한 description의 위치 조정 */
.carousel-inner .item_wrap .item:nth-child(21) .item_description,
.carousel-inner .item_wrap .item:nth-child(22) .item_description,
.carousel-inner .item_wrap .item:nth-child(23) .item_description,
.carousel-inner .item_wrap .item:nth-child(24) .item_description,
.carousel-inner .item_wrap .item:nth-child(25) .item_description {
    position: absolute; /* 절대 위치로 설정 */
    top: 0%; /* 아이템 바로 아래에 위치 */
    left: 50%; /* 수평 중앙에 위치 */
    transform: translate(-50%,-100%);
}

.item_description p {
    margin: 0;
}

.category {
    background-color: #d3bb8e;
    color: white;
    padding: 2px;
    font-size: small;
    border-radius: 8px;
    width: 80px;
    display: inline-block; 
    text-align: center;
}

.item_info {
    font-size: small;
    margin-top: 4px !important;
}

.inventory_token {
    display: flex;
    position: absolute;
    bottom: 3.1%;
    left: 68%;  
    transform: translate(-50%,0%);
    user-select: none;
    align-items: center;
    justify-content: center;
} .inventory_token img {
    width: 55px;
    height: auto;
}

.inventoken {
    width: 120px;
    height: 45px;
    background-color: rgba(32, 42, 63, 0.8);
    text-align: center;
    border-radius: 5px;
    margin: 0px 10px;
    color: #dbdbdb;
    font-family: "Hahmlet", serif;
    line-height: 45px;
}



#pm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 641px;
    height: 281px;
    background: url("../../img/purchase_modal.png");
    background-size: contain;
    border: none;
    user-select: none;
    filter: drop-shadow(8px 8px 8px #232425);
    font-family: "Hahmlet", serif;
    color: #dbdbdb;
    text-align: center;
}

#yesbtn {
    width: 75px;
    height: 37px;
    background-color: #f7ebdb;
    border: none;
    border-radius: 5px;
    color: rgb(50, 53, 78);
    font-size: 17px;
    margin-top: 15px;
}

.plscenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.selected_image_box {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selected_image {
    display: flex;
}

.selected_image span {
    background: url("../../img/item_box.png");
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 2px;
} .selected_image span img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 50%;
} 

.plscenter2 {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#yesbtn2 {
    width: 75px;
    height: 37px;
    background-color: #f7ebdb;
    border: none;
    border-radius: 5px;
    color: rgb(50, 53, 78);
    font-size: 17px;
    margin-top: 2px;
} .yesbtn2 {
    width: 75px;
    height: 37px;
    background-color: #f7ebdb;
    border: none;
    border-radius: 5px;
    color: rgb(50, 53, 78);
    font-size: 17px;
    margin-top: 30px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%); 

}

#characterSelect {
    width: 250px;
}


.selected_image2 {
    display: flex;
}

.selected_image2 span {
    background: url("../../img/potion_box.png");
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 2px;
} .selected_image2 span img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 50%;
} 