/* 오버레이 (배경 흐림) */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    z-index: -1; 
}

/* 전체 컨텐츠 */
.content {
    display: flex;
}

/* 캐릭터 이미지 영역 */
.character_wrap {
    min-width: 1200px;
    margin-top: 2vh;
    margin-left: 3%;
    height: 98vh;
    overflow-y: auto;
    display: flex;
    justify-content: center; 
    position: relative; 
    user-select: none;
}

.character_wrap::-webkit-scrollbar {
    display: none;
}

.cha {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
}

.character {
    height: 150vh;
}

/* 오른쪽 고정 영역 */
.wrap {
    width: 905px;
    height: 100vh;
    position: fixed;
    right: 0;
}

/* 오른쪽 버튼 영역 */
.inven {
    position: absolute; 
    top: 30px;
    left: 0px;
    z-index: 1; 
    display: flex;
    flex-direction: column; 
    gap: 10px; 
} /* 탭 버튼 */
.transbtn {
    background: url("../../img/프로필띠.png");
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    width: 125px;
    height: 37px;
    font-family: "Hahmlet", serif;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 3px;
    color: #dbdbdb;
    user-select: none;
}

/* fade-in 애니메이션 */
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(5%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-5%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.fade-in-right {
    animation: fadeInRight 0.7s ease-out forwards;
}

.fade-in-left {
    animation: fadeInLeft 0.7s ease-out forwards;
}

/* 숨김 처리 */
.hidden {
    display: none !important;
}




/* 오른쪽 정보 박스 */
.info_wrap {
    width: 780px;
    height: 100vh;
    background: rgba(36, 34, 30, 0.85);
    box-shadow: 5px 5px 5px 13px rgba(0, 0, 0, 0.2);
    justify-content: center; 
    position: fixed;
    right: 0;
    font-family: sans-serif;
    z-index: 2;
    color: white;
}

.content1 {
    height: 38%;
    align-items: center;
    text-align: center;
}

.catchphrase {
    color: rgb(199, 184, 136);
    margin-top: 4%;
    margin-bottom: 3%;
}


.name_wrap {
    display: flex;
    justify-content: center;
}

.name_info {
    width: 50%;
    text-align: right;
    padding-right: 2%;
    padding-top: 2%;
}

.name_info p:first-child {
    font-size: 33px;
    font-weight: 500;
    color: rgb(230, 224, 203);
    transform: scaleY(1.1);
    margin: 0;
}

.name_info p:nth-child(2) {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 300;
    color: rgb(167, 153, 105);
    margin: 0;
    margin-top: -7px;
}

.name_info p:last-child {
    transform: scaleY(1.1);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 300;
    color: rgb(199, 184, 136);
    margin: 0;
    margin-top: 10px;
}

.position {
    width: 200px;
}

.star {
    margin-top: 2.2%;
    width: 45px;
    height: 45px;
}





.sub_wrap {
    text-align: right;
    font-family: "Hahmlet", serif;
    width: 80%;
    margin: 0 auto;
    margin-top: -3%;
}

.lines p {
    margin: 0;
    margin-bottom: 1.5%;
    font-size: 20px;
    transform: scaleY(1.1);
}

.sub_info {
    font-family: sans-serif;
    background-image: url('../../img/profile/띠지.png'); 
    background-size: cover;   
    background-repeat: no-repeat;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-right: 9%;
    border-radius: 10px;
}


.content2 {
    display: flex;
    justify-content: center;
}

.sub_section {
    display: flex;
    background: none;
    border: none;
    background-image: url('../../img/profile/profilebtn.png'); 
    background-size: cover;   
    background-repeat: no-repeat;
    width: 175px;
    height: 35px;
    align-items: center;
    line-height: center;
    justify-content: center;
    color: #e4d6b2;
    font-size: large;
    transform: scaleY(1.1) scale(0.95);
    transition: transform 0.2s ease ;
    scale: 0.95;
}

.sub_section:active {
  transform: translateY(3px); /* 클릭 시 살짝 밑으로 */
}



.content_personality {
    height: 50%;
    margin-top: 3%;
    align-items: center;
    text-align: center;
}

.keyword_wrap {
    display: flex;
    gap: 3%;
    justify-content: center;
    align-items: center;
}

.keyword {
    margin-top: 2%;
    display: flex;
    gap: 2%;
    line-height: 35px;
    white-space: nowrap;
    font-size: 19px;
} .keyword img {
    margin-right: 2%;
}

.scroll_box {
    width: 85%;
    max-height: 80%;
    overflow-y: auto;
    margin: 25px auto; 
    line-height: 1.5;
    font-size: large;
    text-align: left;
    padding: 1% 1%;
    font-weight: 300;
}

.content_appearance {
    height: 50%;
    margin-top: 3%;

    text-align: center;
    display: none;
}

.cms_wrap {
    display: flex;
    justify-content: left;
    align-items: left;
}

.cms {
    margin-top: 2%;
    display: flex;
    line-height: 35px;
    white-space: nowrap;
    font-size: 19px;
    align-items: center;
} .cms img {
    margin-right: 2%;
}