{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/class/attendance.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Diphylleia&family=Tangerine&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="gradient-overlay"></div> 

{% if character.charHouse == '슬리데린' %}
    <div class="att_background_slyderin">
{% elif character.charHouse == '후플푸프' %}
    <div class="att_background_huffle">
{% elif character.charHouse == '래번클로' %}
    <div class="att_background_raven">
{% else %}
    <div class="att_background_griffin">
{% endif %}
    <div class="att_content">
        <div class="att_header">
            <p>누적 출석 일 수: {{ attendance_count }}</p>
            <p class="smallw">누적 출석 일 수 1등에게 소량의 상점이 지급됩니다.</p>
        </div>
        <div class="att_info">
            <h4>출석 시 획득 가능한 아이템</h4>
            <p>1 갈레온, 3 수업 토큰</p>
        </div>
        <form method="post" id="attendanceForm">
            {% csrf_token %}
            <button type="button" class="att_btn" id="submitAttendance">
                출석하기
            </button>
        </form>
    </div>    
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal_content_wrap">
                    <p id="modalContent"></p>
                    <button type="button" data-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementById('submitAttendance').addEventListener('click', function() {
        // Send AJAX request to handle attendance
        fetch("{% url 'main:attendance' %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            }
        })
        .then(response => response.json())
        .then(data => {
            // Update modal content based on the server response
            const modalContent = document.getElementById("modalContent");
            if (data.show_modal === "modal1") {
                modalContent.innerHTML = data.modal_message; // 출석 완료 메시지
            } else {
                modalContent.innerHTML = data.modal_message; // 출석 불가 메시지
            }
            // Show the modal
            $('#exampleModal').modal('show');
            
            // Update attendance count and today's attendance status in the UI
            document.querySelector('.att_header p:nth-child(1)').textContent = "누적 출석 일 수: " + data.attendance_count;
        })
        .catch(error => console.error('Error:', error));
    });

    document.addEventListener('DOMContentLoaded', function() {
        // 기숙사 배경 요소들 선택
        const attBackgroundElements = document.querySelectorAll('.att_background_slyderin, .att_background_huffle, .att_background_raven, .att_background_griffin');
        
        // 각 배경에 대해 fadeIn 클래스를 추가하여 애니메이션 실행
        attBackgroundElements.forEach(function(element) {
            // 요소를 먼저 visibility를 'visible'로 설정하고, 애니메이션 시작
            element.style.visibility = 'visible'; 
            element.classList.add('fadeInDown');  // 'fadeIn' 클래스를 추가해 애니메이션 시작
        });
    });
    
    
    
</script>

{% endblock %}
