{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/class/class_main.css' %}">

{% endblock %}

{% block content %}



<div class="notice_wrap">
    <a href="/class/herbology"><img src={% static "img/class_banner/herbology.png" %}></a>
    <a href="/class/potion"><img src={% static "img/class_banner/potions.png" %}></a>
    <a href="/class/creature"><img src={% static "img/class_banner/flying.png" %}></a>
    <a href="/class/teleport"><img src={% static "img/class_banner/teleport.png" %}></a>
</div>


{% endblock %}
