{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/class/search_main.css' %}">

{% endblock %}

{% block content %}

<div class="goback">
    <a href="/search"><i class="fa-solid fa-chevron-left"></i></a>
</div>


<div class="content_wrap">
    <div class="content_box">
        <div class="form_wrap">
            <h1>Hogwart Investigation</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                제목
                <input type="text"name="postname" class="title"><br>
                <textarea rows="8" cols="70" name="contents" placeholder="내용을 적어주세요. 공란이 가능합니다." class="text"></textarea><br>
                <input type="file" name="mainphoto"><br>
                <input type="submit" value="업로드" class="write">
            </form>
        </div>
    </div>
</div>


<div class="">
 
</div>


{% endblock %}
