{% extends "realm_base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notice/realm/novarium.css' %}">
<style>
    .background {
    background-image: url('{% static "img/notice/realm/벨리사르배경.png" %}') !important;
}

</style>
{% endblock %}

{% block content %}

<a href="/world/realm" class="goback">RETURN</a>


<div class="notice_wrap">
    <div class="content_box">

        <h1 class="header">BELISAR</h1>
        <h4 class="subheader_info">항구 | 항해 | 섬나라</h4>
        <h3 class="subheader"><i>[ 모든 항로가 시작되는 바다의 섬나라 ]</i></h3>

        <div class="content">
            <p>끝없는 바다 위에 떠 있는 섬나라. 습한 기후와 강한 바닷바람 덕분에 벨리사르의 사람들은 언제나 바다와 함께 살아왔다. 주로 선박을 주 교통수단으로 삼으며, 섬 곳곳에 항구 마을이 흩어져 있다. 활기찬 항구에서는 늘 상인, 모험가, 뱃사람들의 목소리가 가득하다. 또한 벨리사르는 ‘항해술의 발상지’라 불리며, 대륙 곳곳으로 모험가와 무역품을 실어나른다. 이곳 사람들은 건강한 피부와 강인한 체력을 지니고 있으며, 유쾌하고 친화력 좋은 성격을 가지고 있다.

 </br></br>통풍이 잘 되는 린넨이나 면 소재의 옷을 즐겨 입으며, 해풍에 강한 디자인이 주를 이룬다. 의복의 색상은 바다빛과 흰색이 많고, 바닷바람을 막기 위해 가벼운 망토를 두르기도 한다. 중간중간 조개나 산호로 만든 장신구로 포인트를 주는 모습을 살펴볼 수 있다.
</p>
        </div>

        <div class="location"> < 항구 마을 > </div>
        <p>벨리사르의 항구 마을은 끝없는 파도와 바닷바람이 삶의 일부가 된 곳으로, 세계 각지의 상인과 항해자가 모여드는 활기찬 교역의 중심지다. 부둣가에는 돛배와 대형 선박이 끊임없이 드나들며 마을 광장은 신선한 해산물과 이국의 물품으로 가득 차 항상 활기를 띤다. 해가 저물면 술집과 선술집에서 바다의 무용담이 노랫소리로 울려 퍼지며, 바닷사람들의 하루는 흥겹게 마무리된다. 그러나 이 평화로운 풍경의 이면에는 언제나 검은 바다로부터 밀려드는 불길한 그림자가 도사리고 있어 마을 사람들은 파도 너머의 위협을 경계하며 살아간다.</p>

        <div class="location"> < 엘리안 왕국 > </div>
        <p> 엘리안 왕국은 벨리사르 동쪽 해안에 자리한 해양 강국으로, 풍부한 무역과 수출로 번영을 누려왔다. 그러나 검은 바다에서 몰려온 거대한 해적 선단의 침략은 왕국의 질서를 흔들었고 무역로를 붕괴 직전까지 몰아넣었다. 수년간 이어진 전쟁 끝에 왕 칼로스가 직접 나서 해적 수장 리스킨을 쓰러뜨렸으나, 그의 죽음 후에도 바다는 평화를 허락하지 않았다. 검은 폭풍은 여전히 간헐적으로 얼굴을 바꿔 왕국의 안녕을 위협하곤 한다.</p>

        <div class="fade-line"></div>

        <div class="myth_content">
            <h3>Serranis and the First Sailor</h3>
            <h4>세라니스와 첫 항해자</h4>
            <p>  먼 옛날에는 바다가 없었다. 그때는 광활한 평원과 높은 산맥만이 펼쳐져 있었고, 사람들은 땅을 경작하며 살아갔다. 그러다 어느 날, 하늘에서 빛나는 별 하나가 떨어져 땅을 가르고 깊은 구덩이를 만들었다. 그 구덩이에서 물이 솟아나기 시작했고, 점점 바다로 변해갔다. 이 바다를 사람들은 '세라니스의 눈물'이라 불렀다.
 
 </br></br>세라니스는 하늘의 여신이었으나, 땅의 아름다움에 반해 인간 세계로 내려왔다. 그러나 그녀의 눈물은 땅을 가르고 바다를 만들었고, 그녀는 스스로를 바다의 여신으로 삼아 그 물결을 다스리게 되었다. 신비로운 힘을 가지고 있었지만, 동시에 그녀의 눈물은 두려움을 주었다. 아무도 그 거친 파도를 건널 수 없었기 때문이다. 그러던 어느 날, 한 젊은 항해자 카이렌이 세라니스에게 도전했다. 카이렌은 벨리사르의 첫 항해자로, 그는 바다의 끝에 무엇이 있는지 궁금해했다. 카이렌은 나무로 배를 만들고, 세라니스에게 기도를 올렸다.

</br></br>"오, 세라니스여, 제가 당신의 바다를 건너도록 허락해 주소서. 저는 당신의 아름다움을 찬미하며, 바다의 비밀을 알고 싶습니다."

 </br></br>세라니스는 카이렌의 용기와 순수한 마음에 그를 시험하기로 했다. 바다에 거대한 폭풍을 일으키고, 괴물 같은 파도를 보냈다. 카이렌은 두려워하지 않고 배를 저어 나갔다. 그는 세라니스의 노래를 따라 파도를 헤쳐 나갔고, 결국 폭풍을 극복했다. 세라니스는 카이렌의 용기를 인정하고 그를 바다의 수호자로 삼았다. 그녀는 카이렌에게 바다의 지혜를 전수했고, 그는 벨리사르의 첫 항해자이자 바다의 길잡이가 되었다.

 </br></br>이후로 벨리사르의 사람들은 세라니스를 바다의 여신으로 섬기며, 항해를 시작할 때마다 그녀에게 기도를 올렸다. 카이렌의 후예들은 바다를 건너며 새로운 땅을 발견했고, 벨리사르는 바다로부터 풍요로움을 얻었다.
</p>
        </div>
    </div>
</div>





{% endblock %}