{% extends "realm_base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notice/realm/novarium.css' %}">
<style>
    .background {
    background-image: url('{% static "img/notice/realm/카르딘배경.png" %}') !important;
}

</style>
{% endblock %}

{% block content %}

<a href="/world/realm" class="goback">RETURN</a>


<div class="notice_wrap">
    <div class="content_box">

        <h1 class="header">CARDIN</h1>
        <h4 class="subheader_info">설산 | 눈보라 | 오로라</h4>
        <h3 class="subheader"><i>[ 끝없이 이어진 산맥과 설산의 나라 ]</i></h3>

        <div class="content">
            <p> 거센 눈보라와 추위로 사람이 많이 정착하지는 못했으나, 그만큼 순수한 자연의 위엄이 그대로 남아 있다. 한 해 중 눈이 내리지 않는 날은 거의 없으며 눈보라가 잦아드는 새벽 무렵, 희미하게 오로라가 하늘을 수놓는다. 카르딘의 설산에서는 희귀한 얼음 수정과 북방 약초가 채취되며 이는 마법과 연금술에서 귀하게 쓰인다. 이곳 사람들은 말수가 적고 독립적인 성향이 강하며, 혹독한 환경 속에서도 스스로 생존하며 공동체를 이루어 살아간다.

 </br></br>추위를 막기 위한 두꺼운 모피 외투를 입으며 색상은 흰색, 남색, 은색이 주를 이룬다. 두건과 장갑은 필수로 착용하며 장식품으로는 수정과 빙결석을 사용하는 방식으로, 복식 전체에 신비로움을 부여한다.
</p>
        </div>

        <div class="location"> < 벨루스 언덕 > </div>
        <p>신화 속에 나오는 전설의 언덕. 많은 연인들이 찾는 명소이자 청혼 스팟으로 유명하며, 사랑이 맺어지면 달의 여신 셀레나가 축복을 내려준다는 이야기가 전해진다. 밤이 되면 찬란한 별들이 가장 잘 보여, 사랑하는 이들과 별을 바라보며 소원을 비는 장소로도 사랑받는다.</p>

        <div class="fade-line"></div>

        <div class="myth_content">
            <h3>The Moon Goddess and the Silver Knight</h3>
            <h4>달의 여신과 은빛 기사</h4>
            <p>  대륙의 북쪽에는 달의 여신, 셀레나를 모시는 신전이 있었다. 셀레나는 밤하늘을 지키는 자였으며, 그녀의 빛은 어둠 속에서 길을 잃은 이들을 인도하는 존재였다. 그러던 어느 날, 셀레나는 인간 왕국의 은빛 기사인 알렉산더를 사랑하게 되었다.

 </br></br>알렉산더는 셀레나의 사랑을 받아들였고, 그들은 함께 밤하늘을 여행하며 대륙을 지켰다. 밤마다 달빛 아래서 춤을 추던 그들의 사랑은 나날이 깊어졌으나, 오래 지속되지는 못했다. 마족의 왕이 그들의 사랑을 질투하여 저주를 내린 것이다. 그 결과 셀레나는 하늘로 돌아갈 수밖에 없었고, 알렉산더는 지상에 남아 영원히 그녀를 기다려야 했다.

 </br></br>알렉산더는 매일 밤 셀레나의 빛을 바라보며 그녀를 그리워했다. 그는 그의 빛이 닿는 곳마다 여행하며, 마족의 위협으로부터 사람들을 지켰다.전설에 따르면, 은빛 기사의 심장은 여전히 달의 여신을 기다리고 있으며, 그들의 사랑은 대륙의 밤하늘에 영원히 빛난다고 전해진다. 그 별빛이 가장 찬란히 내려앉는 장소는 오늘날 ‘벨루스 언덕’으로 불린다.
</p>
        </div>
    </div>
</div>





{% endblock %}