{% extends "realm_base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notice/realm/novarium.css' %}">
<style>
    .background {
    background-image: url('{% static "img/notice/realm/드라쿠스배경.png" %}') !important;
}

</style>
{% endblock %}

{% block content %}

<a href="/world/realm" class="goback">RETURN</a>


<div class="notice_wrap">
    <div class="content_box">

        <h1 class="header">DRAKUS</h1>
        <h4 class="subheader_info">화산 | 용암 | 대장간</h4>
        <h3 class="subheader"><i>[ 불과 강철이 만들어낸 장인의 땅 ]</i></h3>

        <div class="content">
            <p>솟아오르는 화산과 용암이 지배하는 뜨거운 땅. 불과 금속을 다루는 장인들의 망치 소리가 울려 퍼지며, 대륙 최고의 무기와 방어구가 이곳에서 탄생한다. 메카닉 기술과 장비 수련이 발달하여, 힘과 기술, 장인 정신이 조화롭게 공존하는 열정의 공간이다. 이곳 사람들은 불처럼 강인한 체력과 강철 같은 신체를 지니고 있으며, 화강의 땅답게 호탕한 성격을 가졌다. 또한 술을 즐기는 솜씨가 뛰어나, 축제나 연회에서는 대륙 어디에서도 그들과 같은 흥과 활기를 찾아보기 어렵다.

 </br></br>두꺼운 가죽과 금속 장식으로 이루어진 복식은 불과 용암을 상징하는 붉은색, 검은색, 청동색이 주를 이룬다. 강철로 된 갑옷과 불에 강한 방어구가 몸을 보호하며, 금속 장식에는 용 문양이 새겨져 있어 위엄을 더한다. 장신구로는 루비와 가넷 같은 붉은 보석을 사용해 불의 힘과 권위를 상징한다.
</p>
        </div>

        <div class="location"> < 파라포라 광산 > </div>
        <p>드라쿠스의 중심에 자리한 파라포라 광산은 불길처럼 타오르는 용암맥과 맞닿아 있어, 대륙에서 가장 귀한 금속과 보석이 채굴되는 곳이다. 붉은빛이 감도는 암석 속에는 강철의 기운이 스며들어 있으며, 장인들은 이곳에서 얻은 자원으로 전설에 남을 무기와 방어구를 탄생시킨다.</p>

        <div class="location"> < 용 제련소 > </div>
        <p>드라쿠스 장인들의 성지라 불리는 용 제련소는, 화산의 심장에서 끊임없이 솟구치는 용암을 제련로 삼아 강철을 벼리는 거대한 대장간이다. 붉은 불꽃과 쇳소리가 쉼 없이 울려 퍼지는 이곳에서는 단순한 무기가 아닌 혼이 담긴 작품이 태어난다. 장인들은 용의 숨결처럼 뜨거운 불길 속에서 강철을 다루며, 용사를 위한 검과 갑옷을 탄생시킨다.
</p>

        <div class="fade-line"></div>

        <div class="myth_content">
            <h3>The god of fire and the king of dragons</h3>
            <h4>불의 신과 용의 왕</h4>
            <p> 아그니는 불의 힘을 다스리는 신으로, 그의 불꽃은 모든 생명을 불태우는 힘을 지니고 있었다. 발타자르는 대륙의 하늘을 지배하는 거대한 용으로, 그의 날갯짓은 폭풍을 일으켰다.

 </br></br>하루는 아그니와 발타자르가 대립하게 되었다. 발타자르는 아그니의 불꽃이 대륙을 황폐화시킬 것을 두려워했고, 아그니는 발타자르의 폭풍이 불의 힘을 약화시킬 것을 두려워했다. 그들은 서로를 이해하지 못한 채 전투를 벌였다. 그들의 전투는 대륙을 뒤흔들었고, 많은 이들이 그들의 싸움으로 인해 고통받았다. 그러던 도중, 한 소녀가 그들 사이에 나타났다. 그녀는 대륙의 평화를 위해 자신의 목숨을 바치기로 결심한 인간이었다.

</br></br>소녀는 아그니와 발타자르에게 말했다.
</br></br> "그대들의 싸움은 대륙을 파괴합니다. 우리는 그대들의 힘을 필요로 하지만, 그 힘은 조화롭게 사용되어야 합니다."
</br></br>소녀의 용기와 진심은 아그니와 발타자르의 싸움을 멈추게 하고 평화를 맹세하게 하였다.

</br></br>그 후, 아그니와 발타자르는 대륙의 수호자가 되었고, 그들의 힘은 조화롭게 사용되어 대륙을 보호했다고 한다.
</p>
        </div>
    </div>
</div>





{% endblock %}