{% extends "realm_base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notice/realm/novarium.css' %}">
<style>
    .background {
    background-image: url('{% static "img/notice/realm/엘리시온배경.png" %}') !important;
}
 
</style>
{% endblock %}

{% block content %}

<a href="/world/realm" class="goback">RETURN</a>


<div class="notice_wrap">
    <div class="content_box">

        <h1 class="header">ELYSION</h1>
        <h4 class="subheader_info">삼림 | 자연 | 마법</h4>
        <h3 class="subheader"><i>[ 자연과 마법이 함께 숨 쉬는 신비로운 숲 ]</i></h3>

        <div class="content">
            <p> 끝없는 삼림과 잦은 비로 뒤덮인 땅 깊숙이부터 마력이 스며드는 곳. 생명력으로 충만한 대자연 속에서 다양한 종족이 조화를 이루며 살아간다. 나무와 호수, 동물 또한 이곳에선 모두가 자유롭다. 이곳 주민들은 마법과의 친화력이 강해 누구나 자연과 대화하듯 마법을 다룬다. 마력을 이용해 은은한 빛을 그려 밤에도 여행자가 길을 잃지 않게끔 도와준다.

 숲과 조화를 이루는 초록과 갈색 계열의 색을 주로 사용하며, 엘프풍의 긴 로브나 천과 가죽을 혼합한 복식을 즐겨 입는다. 자연에서 얻은 목재, 수정, 달빛석으로 장식을 더해 소박하면서도 신비로운 분위기를 풍기며, 머리에는 드루이드식 장식을 얹어 숲과 하나 된 듯한 인상을 준다.
</p>
        </div>

        <div class="location"> < 실바로아 마법원 > </div>
        <p>끝없는 숲속 고원에 자리한 엘리시온의 마법원은 자연과 마법이 융합된 신비로운 학문터다. 학생들은 정령들과 대화하며 마법의 본질을 깨닫게 되고, 자연스럽게 마법을 다루는 방법을 터득한다. 조화를 추구하는 엘리시온의 풍조에 걸맞게 실바로아 마법원도 자유로운 커리큘럼과 개인에 맞는 학습 속도로 자신만의 마법을 찾아나가는 것을 적극 권장하고 있다.</p>

        <div class="fade-line"></div>

        <div class="myth_content">
            <h3>The Promise of a Longlasting Spring</h3>
            <h4>영원한 봄의 약속</h4>
            <p> 엘리시온의 전설에 따르면, 태초에 이 땅은 계절의 여신 아이리스와 겨울의 마법사 볼프로스 사이의 전쟁터였다.차가운 서리와 얼음으로 뒤덮인 땅에서 두 신의 다툼이 계속되었다. 어느 날, 자연의 현자 엘더리온이 나타나 두 신들 사이에 개입했다. 그는 황금빛 지팡이로 대지를 두드리며 예언을 내렸다.

</br></br>"이 땅은 영원한 봄의 정원이 될 것이며, 두 신의 힘이 하나로 어우러질 때 가장 아름다운 모습을 보일 것이다."

 </br></br>예언을 들은 아이리스는 자신의 권능을 포기하는 대신 이 땅의 수호자가 되기로 했다. 볼프로스 역시 자신의 차가운 마법을 봄의 생명력으로 변화시켰다. 두 신의 힘이 하나로 합쳐지자 놀라운 일이 일어났다. 대지에서는 거대한 크리스탈 나무가 자라나기 시작했고, 그 나무들은 무지개빛 꽃을 피웠다. 나무의 가지에서는 영원히 마르지 않는 생명의 이슬이 맺혔고, 그 이슬을 마신 동물들은 신비한 힘을 얻었다.

 </br></br>아이리스와 볼프로스는 힘을 합쳐 다섯 개의 마법 수정을 만들어 숲 곳곳에 흩뿌렸다. 이 수정들은 숲의 생명력을 지탱하는 근원이 되었고, 때로는 밤하늘에 오로라처럼 찬란한 빛을 뿜어냈다. 매년 봄이 찾아오면 축제가 열렸고, 나무들은 반짝이는 꽃을 피우며, 정령들은 나타나 춤을 추었다.

 </br></br>이후 엘리시온은 영원한 봄의 축복을 받은 땅이 되었다. 수호자들은 이 신성한 균형을 지키기 위해 매년 '봄의 서약식'을 거행하며, 두 신의 지혜를 기린다.
</p>
        </div>
    </div>
</div>





{% endblock %}