{% extends "realm_base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notice/realm/novarium.css' %}">

<style>
    .background {
    background-image: url('{% static "img/notice/realm/네크로스배경.png" %}') !important;
}

</style>
{% endblock %}

{% block content %}

<a href="/world/realm" class="goback">RETURN</a>


<div class="notice_wrap">
    <div class="content_box">

        <h1 class="header">NECROS</h1>
        <h4 class="subheader_info">암흑 | 황폐 | 죽음</h4>
        <h3 class="subheader"><i>[ 어둠과 마족이 깃든 황폐한 대지 ]</i></h3>

        <div class="content">
            <p> 영원히 가라앉은 검은 하늘 아래, 피빛 달이 대지를 비춘다. 땅은 금이 가고 불길한 안개가 들판을 감싸며, 곳곳에는 오래전 전쟁의 잔해와 흡혈하는 식물들이 도사리고 있다. 이곳에 사는 마족들은 피와 어둠의 힘을 다루며 기이한 문양이 새겨진 탑과 요새에서 세력을 이루고 있다. 외부인에게는 절망과 죽음만을 안겨주는 땅이지만 이들에겐 오히려 고향이자 힘의 근원으로 여겨진다.
</p>
        </div>

        <div class="location"> < 사일런트 그레이브 > </div>
        <p>황폐한 들판에 끝없이 이어진 무덤지대. 오래전 전쟁에서 쓰러진 영웅들과 괴물의 잔해가 묻혀 있으며, 눈보라 속에서 종종 망령이 걸어나온다. 마족들은 이곳에서 사라진 힘을 불러내며, 외부인에게는 영혼마저 빼앗기는 저주의 땅으로 알려져 있다. </p>

        <div class="fade-line"></div>

        <div class="myth_content">
            <h3>The Birth of Darkness, The Origin of Necros</h3>
            <h4>어둠의 탄생, 네크로스의 기원</h4>
            <p> 태초에 세상은 빛과 생명으로 가득했다. 그렇기에 첫 죽음이 찾아왔을 때, 그 영혼을 거두어 갈 자가 없었다. 세계는 죽음을 관리할 새로운 신을 창조하기로 했다. 그렇게 탄생한 것이 어둠과 죽음의 신, 네크로스였다. 처음에 그는 단순히 죽은 자들의 영혼을 평화롭게 인도하는 역할을 맡았다. 하지만 시간이 흐르면서 그는 깨달았다. 죽음이란 단순한 끝이 아니라, 새로운 힘의 원천이 될 수 있다는 것을.

 </br></br>네크로스는 죽은 자들의 영혼에서 힘을 끌어내는 방법을 발견했다. 그는 죽음의 영역을 확장하며 자신의 권능을 키워갔고, 마침내 다른 신들과 맞먹는 강력한 존재가 되었다. 그러나 그의 야망은 거기서 멈추지 않았다. 그는 죽음이야말로 가장 순수한 형태의 힘이라 믿게 되었고, 모든 생명체들이 결국 자신에게로 돌아온다는 사실에 도취되었다.

 </br></br>이제 네크로스는 더 이상 죽음을 관리하는 것에 만족하지 않고, 적극적으로 죽음을 퍼뜨리기 시작했다. 하지만 이것은 우주의 균형을 깨뜨리는 일이었기에 신들은 끝내 그를 죽음의 땅에 가두어버렸다. 그렇게 네크로스는 자신의 땅에서 죽은 자들의 영혼을 다스리며, 때때로 살아있는 자들의 세계를 넘보곤 했다. 그의 존재는 생명의 순환에서 필수적이지만, 동시에 두려움의 대상이 되었다.

</br></br>후손들에게는 네크로스 어딘가에 그의 힘을 얻을 수 있다는 전설이 내려온다.
</p>
        </div>
    </div>
</div>





{% endblock %}