{% extends "realm_base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notice/realm/novarium.css' %}">
<style>
    .background {
    background-image: url('{% static "img/notice/realm/노바리움배경.png" %}') !important;
}
</style>
{% endblock %}

{% block content %}

<a href="/world/realm" class="goback">RETURN</a>


<div class="notice_wrap">
    <div class="content_box">

        <h1 class="header">NOVARIUM</h1>
        <h4 class="subheader_info">평화 | 화합 | 여행객</h4>
        <h3 class="subheader"><i>[ 모든 길의 시작이자 수많은 전설이 태어나는 무대 ]</i></h3>

        <div class="content">
            <p>세계수의 뿌리가 깊게 내려앉은 대륙의 심장. 사방으로 뻗은 길들이 이곳을 중심으로 이어져, 모험가와 여행자들은 반드시 이곳을 거쳐간다. 거대한 세계수의 그늘 아래에는 고대의 원로회가 자리 잡아 세월을 굽어보고 있으며, 그 곁에는 모험가들의 성지라 불리는 아르카디아 마을이 있다. 세계수의 은총이 가장 가까이 닿는 터전답게 이 땅은 생명으로 충만하다. 평화와 화합의 상징인 노바리움에는 수많은 종족이 함께 모여 살아가며, 모든 외지인에게 호의적인 태도를 보인다. 따뜻한 기후와 비옥한 토양은 늘 온화한 기운을 머금고, 이곳을 찾은 자들은 새로운 여정의 첫걸음을 준비한다.</p>
        </div>

        <div class="location"> < 아르카디아 마을 > </div>
        <p>그중에서도 아르카디아 마을은 모험가들의 도시라 불릴 만큼 활기로 가득하다. 대륙 전역에서 모여든 상인들이 진귀한 물품을 거래하니, 이곳에서는 없는 것이 없다고 전해진다. 그러나 눈부신 번영의 이면에는 바가지를 씌우려는 장사꾼과 교활한 사기꾼들도 숨어 있어 방심은 곧 화가 된다. 그럼에도 불구하고 곳곳에서 울려 퍼지는 모험담과 끝없이 흘러나오는 소문들은 이 땅을 찾은 이들의 발걸음을 멈추게 하지 못한다.</p>

        <div class="fade-line"></div>

        <div class="myth_content">
            <h3>The Sun King's prophecy</h3>
            <h4>태양왕의 예언</h4>
            <p>  옛날옛적, 대륙에는 태양왕이라는 전설적인 왕이 있었다. 태양왕은 태양의 힘을 받아 대륙을 지배하였고, 그의 왕국은 번영을 누렸다. 어느 날, 태양왕은 하늘에서 내려온 예언자를 만났다. 예언자는 태양왕에게 말했다.
            
</br></br>"태양왕이여, 당신의 후손 중 하나가 대륙을 구원할 것이다. 그러나 그가 대륙을 구원하기 전, 큰 시련을 겪게 될 것이다."

 </br></br>태양왕은 예언자의 말을 듣고 자신의 후손들을 강하게 키우기로 결심했다. 그는 후손들에게 태양의 힘을 전수하고, 용기와 지혜를 가르쳤다. 그 중 손자인 루카스 왕자는 특히 탁월한 재능을 보였다. 루카스는 어린 시절부터 무술과 마법을 익히며, 숱한 전투와 시험을 통과했다. 그러던 어느 날, 대륙에 어둠의 세력이 침입해왔다. 루카스는 예언대로 대륙을 구원하기 위해 나섰다. 그는 다양한 종족과 함께 힘을 합쳐 어둠의 세력에 맞섰다. 수많은 전투 끝에, 루카스는 결국 어둠의 군주를 물리치고 대륙에 평화를 가져왔다.

</br></br>그의 용기와 희생은 대륙 곳곳에서 노래와 이야기로 전해지며, 태양왕의 예언은 현실이 되었다며 칭송한다.</p>
        </div>
    </div>
</div>





{% endblock %}