{% extends "realm_base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notice/realm/novarium.css' %}">

<style>
    .background {
    background-image: url('{% static "img/notice/realm/세라피움배경.png" %}') !important;
}

</style>
{% endblock %}

{% block content %}

<a href="/world/realm" class="goback">RETURN</a>


<div class="notice_wrap">
    <div class="content_box">

        <h1 class="header">SERAPIUM</h1>
        <h4 class="subheader_info">천국 | 빛 | 성역</h4>
        <h3 class="subheader"><i>[ 신성한 빛이 머무는 하늘의 낙원 ]</i></h3>

        <div class="content">
            <p>구름 위로 펼쳐진 푸른 초원과 황금빛 강, 그리고 끝없이 흐르는 맑은 노래가 깃든 땅. 이곳의 하늘은 언제나 눈부신 빛으로 가득 차 있으며 바람조차 신성한 힘을 머금어 생명을 치유한다. 모든 것은 빛 아래 오로지 질서와 평화의 조화를 이룬다. 현재 살아 숨 쉬는 모험가 중에서는 땅을 밟았다는 자가 없으니, 선택받아야만 꿈속에서나 만날 수 있는 장소라고도 한다.</p>
        </div>

        <div class="fade-line"></div>

        <div class="myth_content">
            <h3>The Celestial Tome</h3>
            <h4>천상의 서</h4>
            <p>   태초에 세상은 혼돈 속에서 태동했다. 불완전한 땅과 흔들리는 바다, 아직 이름조차 없는 하늘만이 뒤엉켜 있었다. 그 혼돈을 정화하기 위해, 최초의 빛이 하늘로 솟구쳤다. 그 빛이 머무른 자리, 순수한 생명의 노래가 흘러나온 곳이 바로 세라피움이었다.

</br></br>세라피움은 끝없는 구름 위에 펼쳐진 낙원으로, 금빛 강이 흐르고 바람조차 치유의 힘을 품는다. 그곳의 빛은 단순한 광명이 아니라, 존재 그 자체를 새롭게 탄생시키는 힘이라 칭한다. 이 때문에 세라피움은 생명의 근원, 모든 영혼이 안식하는 최초의 고향이라 불린다.

 </br></br>그러나 세라피움의 빛은 결코 땅 위에 직접 닿지 않는다. 너무도 순수하여, 인간이나 신마저도 감당할 수 없기 때문이다. 전해지는 이야기로는, 세라피움에 발을 들이는 자는 자신의 영혼이 빛에 의해 비춰져 본질을 드러낸다고 한다. 마음이 순수하다면 치유와 축복을 받고, 탐욕과 어둠을 품었다면 그 자리에서 영혼이 흩어진다. 그렇기에 세라피움은 누구도 함부로 오를 수 없는 하늘의 성소이자, 동시에 모든 생명이 언젠가 꿈속에서 마주하게 될 궁극의 낙원으로 전해진다.
</p>
        </div>
    </div>
</div>





{% endblock %}