{% extends "realm_base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notice/realm/novarium.css' %}">
<style>
    .background {
    background-image: url('{% static "img/notice/realm/제르카배경.png" %}') !important;
}

</style>
{% endblock %}

{% block content %}

<a href="/world/realm" class="goback">RETURN</a>


<div class="notice_wrap">
    <div class="content_box">

        <h1 class="header">ZERKA</h1>
        <h4 class="subheader_info">황야 | 사막 | 유적지</h4>
        <h3 class="subheader"><i>[ 끝없는 사막과 고대의 유적이 공존하는 땅 ]</i></h3>

        <div class="content">
            <p>사막과 황야가 끝없이 펼쳐진 땅. 뜨거운 태양과 건조한 바람, 그리고 모래폭풍이 이곳을 상징한다.
곳곳에 고대 문명의 유적이 남아 있으며 사막 유목민들은 이를 성역처럼 지켜낸다. 척박한 환경 속에서도 그들은 강인한 생존력으로 공동체를 이루고, 때로는 모험가들의 길잡이가 된다. 아직 황금빛 모래에 파묻힌 유적들이 많아 보물을 찾는 이들이 제르카로 모여들지만, 신이 내린 시험이라 불리는 사막은 탐욕을 허락하지 않는다. 모래폭풍은 많은 자들을 삼켜왔고, 미지의 위험은 여전히 황야 속에 잠들어 있다. 그래서 제르카는 ‘보물의 땅’이자 동시에 ‘무덤의 땅’으로 불린다.

 </br></br>이곳의 거주민들은 뜨거운 태양과 모래폭풍에 맞서기 위해 헐렁한 로브와 터번을 착용한다. 주로 모래색, 붉은색, 검은색 등 사막을 닮은 색조가 쓰이며, 금이나 청금석, 옥 같은 보석을 가공한 화려한 장신구를 몸에 두르는 것도 굉장히 흔한 풍경이다. 말라 비틀어진 사체에서 귀금속을 훔쳐가는 일도 다반사다.
</p>
        </div>

        <div class="location"> < 모즈킨 유적 > </div>
        <p>제르카 사막 한가운데 자리잡은 고대 유적. 외벽은 검게 그을린 돌로 세워져 있으며, 바람에 마모된 기둥에는 신의 상징이 새겨져 있다. 내부는 끝없이 이어지는 미로와도 같아 수많은 모험가들이 탐험하다가 길을 잃었다는 전설이 전해진다. 유목민들은 이곳을 신성한 경계로 여겨 함부로 들어가지 않으며, 종종 종교를 가진 이들 중 순례길을 걷는 많은 사람들이 최종적으로 도달하는 곳이기도 하다.</p>

        <div class="fade-line"></div>

        <div class="myth_content">
            <h3>The Land of the God’s Trial</h3>
            <h4>신이 남긴 시험의 땅</h4>
            <p> 태초에 세상은 물과 숲으로 가득 차 있었다. 그러나 어느 날, 한 신이 불과 바람을 몰고 와 대지를 태우고 흩뜨리며 끝없는 모래와 열기를 남겼다. 불타는 태양 아래 땅은 메말랐고, 하늘은 황금빛으로 물들었으며, 바람은 살아 있는 자들을 시험하는 듯 거세게 몰아쳤다. 그곳이 바로 제르카였다. 

 </br></br>제르카의 모래 속에는 잊혀진 도시들이 잠들어 있다. 신의 손길을 닮은 거대한 건축물과 신비로운 조각들, 그리고 그 안에 감춰진 오래된 마법의 흔적. 사람들은 이를 ‘바람의 성역’이라 불렀으며, 오직 강인한 자만이 유적의 비밀을 읽어낼 수 있다고 믿었다.

 </br></br>수천 년의 세월이 흐른 뒤에도, 모래와 바람을 거슬러 살아남은 이들이 있었다. 그들은 사막 유목민이라 불렸고, 제르카의 신비와 혹독한 환경을 동시에 섬기며 살아갔다. 그들은 유적을 성역으로 지키고, 모래폭풍 속에서도 결코 길을 잃지 않았다. 전설에 따르면, 사막 깊숙한 곳에는 ‘피라미드의 심장’이라 불리는 보물이 잠들어 있으며, 그 힘은 오직 진정으로 강한 자에게만 허락된다고 한다.

 </br></br>사막을 넘어 여행하는 모험가들은 종종 유목민들의 안내를 받는다. 하지만 제르카의 바람은 결코 관대하지 않다. 길을 잘못 들면, 모래 속에 사라져 다시는 돌아오지 못한다. 그래서 사람들은 제르카를 단순한 땅이 아닌, 신이 남긴 시험의 땅이라 부른다.

 </br></br>제르카에서는 살아남는 것만으로도 신화가 된다. 바람과 모래, 유적과 불타는 태양이 공존하는 이 땅에서 진정한 힘과 지혜는 생존 그 자체에서 길러진다고 전해진다.
</p>
        </div>
    </div>
</div>





{% endblock %}