<nav>
    <ul>
    <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
    <li><a href="/"><i class="fa-regular fa-newspaper"></i></a></li>
    <li><a href="/member"><i class="fa-regular fa-user"></i></a></li>
    <li><a href="/"><i class="fa-regular fa-bookmark"></i></a></li>
    <li><a href="/"><i class="fa-regular fa-calendar-check"></i></a></li>
    <li><a href="/"><i class="fa-regular fa-lightbulb"></i></a></li>
    <li><a href="/"><i class="fa-regular fa-envelope"></i></a></li>
    <li><a href="https://open.kakao.com/o/sn3lg6Yg" target="_blank"><i class="fa-regular fa-circle-question"></i></a></li>
    <li>
        <form action="{% url 'users:logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" style="background: none; border: none; cursor: pointer;">
                <i class="fa-solid fa-right-to-bracket"></i>
            </button>
        </form>
    </li>
    </ul> 
</nav>
