{% extends "notice_base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notice/notice.css' %}">

{% endblock %}

{% block content %}

{% include "effects/snow.html" %}

<div class="notice_wrap">
    
    <div class="decor1">
        <img src={% static "img/decor.png" %}>
    </div>
    <div class="decor2">
        <img src={% static "img/decor2.png" %}>
    </div>
    <a href="/"><div class="goback">
        <i class="fa-solid fa-chevron-left"></i>
    </div></a>
    <div class="content_box">
        <div class="header">
            <p><span>04｜해리포터 기반 ｜TWT · 홈페이지 연동｜  1·4·7·A ｜ 8W ｜ 0022→ 0044 ｜글그림 복합</span></p>
            <p><span>(그림인장 ONLY)｜ ALL ｜점층형 시리어스 ｜ 성장 후 대립 ｜ 여유로운 운영 지향</span></p>           
        </div>
        <div class="subheader">
            <h1>01.</h1>
            <h3>Community</h3>
        </div>
        <div class="content1">
            <ul>
                <li>본 커뮤니티는 조앤 K.롤링- <b>해리포터를 기반으로 한 창작 세계관 커뮤니티</b>입니다. <b>공지사항을 읽지 않아 생기는 불이익에 대해 운영진은 일절 책임지지 않습니다.</b></li>
                <li>본 커뮤니티는 04년생 이상의 오너 분들에 한해 신청서 접수를 허용합니다. 빠른 년생은 받지 않습니다.</li>
                <li>본 커뮤니티는 첫 해포커, 첫 트커, 첫 시리커 러닝이 불가합니다.</li>
                <li> 총괄계 가동 시간은 10:00-23:59 입니다. 가동 시간이 아닌 시각엔 답변을 하지 않습니다. 모든 문의는 <a href="https://open.kakao.com/o/s1kiOQQg" target="_blank">오픈채팅</a>으로만 받고 있으며 질의응답은 <a href="https://docs.google.com/document/d/1NSzKG74twRQAQ2bYEXLGjRfVFh9bIi_zJkhzRrMsjDI/edit?usp=sharing" target="_blank">QnA</a> 문서를 참고해주세요.</li>
                <li>수위 등급 0022 -> 0044 커뮤니티입니다. 일상 후 점층형 시리어스로 진행되는 만큼 ‘혈통 차별 및 혐오 발언, 비윤리적 사상 및 행동, 살해, 고문‘ 과 같은 요소가 다수 차용되었습니다. 관련 요소에 민감한 예비 러너분들은 신청서 접수를 재고 바랍니다.</li>
                <li>그림 인장 ONLY 커뮤니티입니다.  실사, 분위기, 단색, AI 등의 이미지 사용을 금하고 있으며, 커뮤니티 사용이 허가된 픽크루에 한해 사용이 가능합니다. 본인의 그림이 아닌 이미지(커미션, 지원, 픽크루 등)는 출처를 명확히 밝혀 주시기 바랍니다.</li>
                <li>MPC를 포함 최소 22명 최대 28명의 러너를 뽑을 예정에 있습니다. 기숙사 비율 1:1:1:1, 진영비 1:1을 지향하며 러너의 하차 및 제명 등의 일이 발생 시에는 성인 기간 도입 이전, 진영 변경이 가능한 캐릭터에 컨택이 갈 수 있습니다.</li>
            </ul>
        </div>
        <div class="subheader">
            <h1>02.</h1>
            <h3>Running</h3>
        </div>
        <div class="content2">
            <ul>
                <li>러닝 기간은 약 8주(56D) ±a로 학년별 일정은 아래와 같이 예정되어 있습니다. 러닝 중 1-2일 유동적으로 조정될 가능성이 있습니다.</li>
                <p><span>1학년(12일) - 4학년(12일) - 7학년(13일) / 리뉴얼 3일 / 성인(10일) 전투 시스템 합발 후 공개</span></p>
                <li>성장 기간마다 리뉴얼 신청서가 필수적으로 요구되며, 기간 내에 제출하지 않을 시에는 제명 처리를 진행합니다. 불가피하게 리뉴얼 신청서 제출이 늦어질 경우 사전에 필히 언질 바랍니다. 리뉴얼 기간 중 서사 조율을 허용하고 있습니다.  리뉴얼 기간과 관련된 자세한 정보는 시스템 문서를 참조 바랍니다.</li>
                <li>본 커뮤니티는 4학년 이후 하차를 금하고 있습니다. 총 3회 성장을 진행하며, 엔딩 직후 트윗수가 600트 미만인 러너는 연공이 불가합니다. 러닝 기간이 짧지 않은 만큼 일정을 확인하신 뒤 신청서 접수 바랍니다.</li>
                <li> 본 커뮤니티의 시간대 및 배경은 현재 1970년대 영국으로, 원작을 일부 차용하고 있으나 원작과는 완전히 다른 세계선, 평행 세계임을 고지합니다. 원작 내 등장인물 및 명칭 언급을 일부 금합니다. 자세한 사항은 세계관 문서를 참조 바랍니다.</li>
            </ul>
        </div>
        <p class="info"><span>본 커뮤니티의 운영진은 러너 분들의 순탄한 러닝을 위하여 최선을 다할 것을 약속 드리오나, 모든 러너 분들에게 무리하게 맞춰드릴 수는 없다는 점을 미리 안내합니다. 예기치 못한 실수가 보이더라도 너른 양해 부탁드리며, 이에 관해 러너 분들에게 최대한 피해가 가지 않도록 노력하겠습니다.</span></p>
        <div class="subheader">
            <h1>03.</h1>
            <h3>Warning</h3>
        </div>
        <p class="info"><span>본 커뮤니티는 삼진아웃제를 차용하고 있습니다. 개인 경고 3회 누적 시 이유불문 제명, 단체경고 3회 누적 시 조기엔딩으로 이어질 수 있음을 사전에 고지합니다. </span></p>
        
        <table border="1">
            <tr>
              <td>금지 사항</td>
              <td>
                <ul>
                    <li>첫커 / 첫시리커 / 첫트커 / 첫해포커</li>
                    <li>04년생 미만의 오너 (빠른 년생 불가)</li>
                    <li>타 커뮤니티 엔딩을 본 캐릭터의 재활용 (엔딩 이후 6개월이 지난 캐릭터는 허용)</li>
                    <li>하차 및 제명 당한 캐릭터의 재활용</li>
                </ul>
                위 목록 중 하나라도 해당될 경우 신청서 제출이 불가합니다.
              </td>
            </tr>
            <tr>
              <td>러닝 중</br>금지 사항</td>
              <td>
                <ul>
                    <li>원작의 등장인물 언급</li>
                    <li>메타 발언, 과도한 개그성 발언, 밈 사용</li>
                    <li>4학년 이후 개그성 짤 트레</li>
                    <li>출처를 밝히지 않은 짤 트레 (단, 과열될 시 제제가 들어갈 수 있습니다.)</li>
                    <li>과한 개그성 플로우</li>
                    <li>제명 및 하차 캐릭터에 관한 이야기/언급</li>
                    <li>공개 계정으로 캐릭터 스포일러 및 러닝 타래 세우기 (커뮤니티 스토리 외부 유출)</li>
                    <li>모든 종류의 지인플</li>
                    <li>시간순이 아닌 트윗 답변 (이가 지나치게 반복될 시 경고 부여)</li>
                    <li>커뮤니티 수위에 맞지 않는 모든 행위</li>
                    <li>러너 캐릭터 간의 고백/답변 로그 를 주고받는 행위</li>
                    <li>자해/자살 로그 업로드</li>
                    <li>특정 캐릭터 간의 가족 놀이, ~~조 생성,  분위기 조성</li>
                    <li>운영진 측에서 주최하지 않은 러너 캐릭터 간의 미니 게임 주최</li>
                    <li>깨뜨릴 수 없는 맹세 사용</li>
                    <li>세베루스 창작 마법 사용</li>
                    <li>용서할 수 없는 주문 사용</li>
                    <li>러너 캐릭터 간의 약혼 및 결혼 관계</li>
                    <li>엔딩 이전 연락처 공유</li>
                </ul>
              </td>
            </tr>
        </table>
        
        <p class="info"><span>그 외 타인에게 불쾌감 혹은 소외감을 유발할 수 있는 행위를 모두 금하며, 운영진들의 판단 하에 경고 행위로 구분되는 행위 또한 경고를 부여합니다. 최대한 모니터링에 힘쓸 예정이나, 수위등급에 어긋나는 행위를 목격, 겪을 시 총괄계 측으로 연락 바랍니다.</span></p>
        
        <table class="tab2">
            <tr>
                <td>경고 사항</td>
                <td>
                  <ul>
                      <li>@tos, @null 사용</li>
                      <li>48시간 이상 미접속 (언질하지 않은 무통보 잠수가 지속될 경우 제명 처리될 수 있습니다.)</li>
                      <li>모든 종류의 편파 행위 (글, 그림, 성별 등)</li>
                      <li>과한 메타적 발언</li>
                      <li>세계관 배경에 맞지 않는 발언</li>
                      <li>계정 실수 트윗에 반응하는 행위</li>
                      <li>과도한 타임라인 대화 지속 (15분 이상으로 제한하며, 잦을 경우 전체 경고 부여 가능성이 있습니다.)</li>
                      <li>쿠션이 존재하지 않는 트리거를 유발할 수 있는 트윗 (올릴 시에 꼭 기재해 주시기 바랍니다.)</li>
                      <li>성장 프로필 미제출 및 무통보 지각</li>
                      <li>운영진 계정을 포함하지 않은 1:1 연락</li>
                      <li>통금 시간 중 퍼블릭 트윗 작성</li>
                      <li>러닝 중 계정 및 멘션에 오너 기호 사용 (사정을 바이오에 기재하는 행위 등 불가, 필요 시에 조율 필수.)</li>
                      <li>길이 제한이 넘는 위치 대화 및 외부 링크를 사용하는 위치 대화</li>
                      <li>리뉴얼 기간 중 위치 대화</li>
                      <li>러너 캐릭터들 간 조율 중 과한 썰 풀이</li>
                      <li>성장 이후 IF에 작성되어 있지 않던 설정 추가 (필요 시 운영진과의 조율이 필수입니다.)</li>
                  </ul>
                </td>
              </tr>
        </table>

        <div class="subheader">
            <h1>04</h1>
            <h3>Character Guide</h3>
        </div>
        <p class="info"><span>캐릭터 메이킹에 도움이 되는 안내 사항입니다. 캐릭터의 백스토리를 설정하실 때 참고 부탁드립니다.  본 커뮤니티의 러너 캐릭터들은 모두 1967년 9월~1968년 8월 내 출생하였으며, 성인 시기의 캐릭터들은 모두 28세로 고정됩니다.</span></p>
        <table>
            <tr>
                <td>소수 합격</td>
                <td>
                  <ul>
                      <li>귀족 가문</li>
                      <li>혈통 숨김</li>
                      <li>복수 국적</li>
                      <li>모자걸이</li>
                      <li>이종족 혼혈</li>
                      <li>천재 설정</li>
                      <li>사이비 종교</li>
                      <li>7학년 패트로누스</li>
                      <li>성장 후 이름 변경</li>
                      <li>8인치 이하 15인치 이상의 지팡이</li>
                      <li>오드아이, 특이 동공, 투톤 이상의 머리색</li>
                  </ul>
                  그 외 다수 접수되는 설정
                </td>
            </tr>
            <tr>
                <td>극소합</td>
                <td>
                  <ul>
                      <li>머글본 슬리데린</li>
                      <li>O.W.L. 및 N.E.W.T  ALL O</li>
                      <li>반사회성 인격 장애 (사이코패스, 소시오패스)</li>
                      <li>예언자 가문</li>
                      <li>애니마구스</li>
                      <li>불사조의 깃털 심</li>
                  </ul>
                </td>
            </tr>
            <tr>
                <td>불합</td>
                <td>
                  <ul>
                      <li>왕족 가문</li>
                      <li>성별 속임</li>
                      <li>급/제적 설정</li>
                      <li>혈연 관계가 아닌 선관</li>
                      <li>원작 내 28가문 성씨 사용</li>
                      <li>원작 인물과 관련된 서사를 지닌 캐릭터</li>
                      <li>올리밴더가 사용하는 심이 아닌 지팡이 심 사용</li>
                      <li>딱총나무, 형제 지팡이 사용</li>
                      <li>현실적으로 불가능한 외관 요소 및 설정 (ex: 역안, 뾰족한 귀)</li>
                      <li>이중인격자/다중인격자</li>
                      <li>레질리먼스, 말레딕투스, 파셀텅</li>
                      <li>아모텐시아 차일드</li>
                  </ul>
                </td>
            </tr>
        </table>
    </div>

</div>




<p><span></span></p>



<script>
    document.addEventListener('scroll', function() {
        const contentBox = document.querySelector('.content_box');
        const scrollPosition = window.scrollY;
    
        console.log('스크롤 위치:', scrollPosition); // 현재 스크롤 위치 출력
    
        if (scrollPosition > 100) {
            contentBox.style.marginTop = '0px'; // 스크롤이 100px 이상일 때 위로 이동
        } else {
            contentBox.style.marginTop = '100px'; // 스크롤이 100px 미만일 때 원래 위치로 돌아옴
        }
    });
</script>

{% endblock %}