{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notice/story.css' %}">
{% endblock %}

{% block content %}

<a href="/world" class="goback">RETURN</a>

<div class="notice_wrap">
    <div class="content_box">

        <h1 class="header">WORLD</h1>
        <img class="stary" src="{% static 'img/profile/star.png' %}" alt="header">

        <p>
            <span style="color:#ecda9d; font-family: 'Hamlet',serif;font-size: larger;"> 하나,</span>
 </br>우리는 세계를 지탱하는 생명력을 위그드라실이라 부른다.

</br></br>대륙의 중심이자 생명의 근원인 세계수, 위그드라실.
</br>태초부터 인류는 자연스레 위그드라실을 당연한 것으로 여겨 의지하며 함께 살아가고 있었다.
</br>굶주림도, 추위도, 갈등도 없었던 이상적인 세상. 평화의 세대, 세계수 제 1기(Yggdrasil Era 1, YE1).
</br>생명의 주체권이 ‘우리’가 아닌 ‘위그드라실’에 있음을 망각한 채, 사람들은 편리한 삶을 누렸다.
 </br>“누군가”가 이 사실에 의문을 가지기 전까지는, 이 세상은 실로 흠잡을 데 없는 완벽한 세계였다.
 
<div class="fade-line"></div>

<span style="color:#ecda9d; font-family: 'Hamlet',serif;font-size: larger;">대략 1500년 전, YE2</span>
</br>한 조상에게서 피로 물들인 기록을 발췌한다.

</br></br>“정체불명의 이유로 세계는 멸망의 위기를 맞을 뻔했다. </br>하지만 후손들이여, 걱정하지 말아라. 위그드라실의 힘 덕분에 그로부터 가까운 1000년 동안은 평화가 굳건히 지켜지리라.

</br></br>그러나 그 시기의 기록은 대부분 불에 타 사라지고, 남은 것은 한 줌의 재에 불과하다.
</br>우리가 알 수 있는 것은, 혼란과 분쟁 속에서 과거의 세대가 하나 되어 세계를 지켜냈다는 사실뿐.
</br>그러니 조상의 의지를 이어받아 다시금 새로운 세대를 세워야만 하는 시기였다.

<div class="fade-line"></div>



 <span style="color:#ecda9d; font-family: 'Hamlet',serif;font-size: larger;">둘,</span>
</br>그로부터 예언된 날짜가 훌쩍 지나버린 현재로 돌아온다. 후손들ㅡ즉 지금의 용사ㅡ이 머물고 있는 YE3.
</br>결코 붕괴하지 않을 것 같던 위그드라실은 불현듯 어둠에 잠식되어 힘을 잃었고, 평화는 무너지기 시작했다. 세계수의 풍성한 가지와 이파리들은 하나둘 색을 잃으며 비명을 내질렀고, 끝내 생기를 잃었다.




태초의 위그드라실의 신비로운 모습은 서서히 사라져가고 있었다.

</br></br>힘을 잃은 이파리들만이 하늘 높이 흩날리며 마치 끊임없는 유성우가 쏟아지듯 하늘을 수놓았다.
</br>세계수가 서서히 붕괴하면서 그 주위를 감싸던 힘은 부서진 파편으로 변해 대륙 곳곳으로 흩어졌다.
</br>이 파편들은 ‘룬’이라 불리기 시작했다. 세계수의 파편은 6개의 룬으로 나뉘어 대륙의 각지에 떨어졌고,
</br>룬은 근방의 마물들을 끌어들여 거대한 던전을 형성했다.


<div class="fade-line"></div>


<span style="color:#ecda9d; font-family: 'Hamlet',serif;font-size: larger;">셋,</span>
</br>이 사태를 해결하기 위해, 고대 장로회는 하나의 방법을 고안해냈다.
</br>‘위그드라실 원정대’라는 이름으로 세계의 용사를 모아 결성하기로 한 것이다.

</br></br>그 목적은 단 하나, “세계를 멸망으로부터 지켜내라.”

</br></br>각지의 모험가들이 모여 ‘룬’을 수집하고 세계수를 되살리기 위한 중대한 여정이 당도한다.
</br>위그드라실의 용사들이여, 여명으로 향해라!
        </p>

<div class="fade-line"></div>
<img class="year" src="{% static 'img/notice/연표.png' %}" alt="header">
    </div>
</div>




<p><span></span></p>



{% endblock %}