{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notice/system.css' %}">
{% endblock %}

{% block content %}

<a href="/" class="goback">RETURN</a>


<div class="notice_wrap">
    <div class="content_box">

        <img class="notice_head" src="{% static 'img/notice/notice_header.png' %}" alt="header">
        <h1 class="subheader">01. SYSTEM</h1>

        <div class="content">
            <ul>
                <li>모든 러너들은 하루에 한 번, AM 6:00~PM 20:00 사이 ‘보급 신청’을 할 수 있습니다. 신청 완료 시 재화 및 경험치가 지급됩니다.</li>
                <li>하루 한 번 일일 퀘스트 진행이 가능합니다. 홈페이지의 퀘스트 란에 접속해 원하는 퀘스트를 수락 후 이행하면 보상을 받을 수 있으며, 글 또는 그림 로그가 요구됩니다.</li>
                <li>러닝 중 활동을 통해 커뮤니티 재화인 골드를 습득할 수 있습니다. 획득처는 다음과 같습니다.</li>
                <ul>
                    <li class="minor">출석</li>
                    <li class="minor">트윗 수</li>
                    <li class="minor">스토리 열람</li>
                    <li class="minor">이벤트 참여</li>
                    <li class="minor">던전 클리어</li>
                </ul>
                
                <li>전 러닝 기간동안 통금 시스템이 적용됩니다. AM 2:00~AM 6:00 동안 홈페이지 이용 및 기존 타래 잇기를 제외한 퍼블릭 트윗 활동이 제한됩니다.</li>
                <li>본 커뮤니티에는 총 2회의 휴식기가 존재합니다. 해당 기간에는 모든 활동이 전면 금지되며 프로필 리뉴얼 및 텍관 생성만이 가능합니다. 프로필 리뉴얼은 선택 요소로, 이전 프로필을 유지하여도 무관합니다.</li>
                <li>본 커뮤니티의 탐사 및 레이드를 포함한 모든 진행은 PM 21:00부터 시작되며 최대 3시간이 소요될 것을 상정하고 있습니다.</li>
                <li>러너 분들의 불필요한 수고를 덜기 위해 대부분의 시스템(스토리 챕터, 일일퀘스트, 제조 등)은 홈페이지에서 진행됩니다. 일부 시스템은 추후 공개됩니다.</li>
            </ul>
        </div>

        <div class="fade-line"></div>
        <h1 class="subheader">02. DUNGEON</h1>

        <div class="content">
            <ul>
                <li>러닝 기간은 약 6주(42D) ±a로 예정되어 있으며 러닝 중 일정은 1-2일씩 유동적으로 조정될 가능성이 있습니다.</li>
                <li>본 커뮤니티는 트위터 플랫폼 및 자체 제작 홈페이지를 이용합니다. 이에 따른 트위터 계정 생성이 필수이며 PC 사용을 권장하고 있습니다.</li>
                <li>신청서 합격제를 차용합니다. 합격자 명단 공개 이후 계정 프로텍트를 활성화한 뒤 폼이 공개되오니 참고 바랍니다. </li>
                <li>시리어스 기간 진입 이후 하차를 금하고 있습니다. 엔딩 직후 트윗수가 700트 미만인 러너는 연공이 불가합니다. 러닝 기간이 짧지 않은 만큼 일정을 확인하신 뒤 신청서 접수 바랍니다.</li>
            </ul>
        </div>

        <div class="fade-line"></div>
        <h1 class="subheader">03. EXPEDITION</h1>

        <div class="content">
            <ul>
                <li>본 커뮤니티의 탐사는 팀별 탐사로 ROLL 20에서 진행됩니다. (계정 생성이 필수입니다.)</li>
                <li>사전 신청자에 한해, 포지션을 고려하여 랜덤 팀 편성이 이루어지며 탐사 진행 3시간 전 시스템계에 공지됩니다.</li>
                <li>탐사 도중 실종, 고립, 부상, 전투 등의 변수가 발생할 수 있습니다.</li>
            </ul>
        </div>

        <div class="fade-line"></div>
        <h1 class="subheader">04. STATUS</h1>

        <div class="content">
            <ul>
                <li>모든 캐릭터는 스테이터스에 기반하여 능력치를 지니게 됩니다.</li>
                <li>각 항목별로 최소 1pt에서 최대 5pt까지 스테이터스 포인트를 부여할 수 있습니다.</li>
            </ul>
        </div>
        
        <table border="1">
            <tr>
              <td>체력 (HP)</td>
              <td>
                캐릭터의 생명력을 나타냅니다.
              </td>
            </tr>
            <tr>
              <td>공격력 (ATK)</td>
              <td>
                적에게 가하는 물리 및 마법 데미지의 양을 결정합니다.
              </td>
            </tr>
            <tr>
              <td>방어력 (DEF)</td>
              <td>
                적에게 받은 데미지를 경감하는 능력입니다.
              </td>
            </tr>
            <tr>
              <td>회복력 (RES)</td>
              <td>
                자연과 공감하는 능력입니다. 본인의 자연치유량 및 아군에게 부여하는 치유 수치량을 결정합니다.
              </td>
            </tr>
            <tr>
              <td>운 (LUK)</td>
              <td>
                전반적인 보너스 양을 결정합니다. 크리티컬에 영향을 끼칩니다.
              </td>
            </tr>
        </table>

        <div class="fade-line"></div>
        <h1 class="subheader">04. POSITION</h1>

        <div class="content">

            <table border="1">
            <tr>
              <td><img src="{% static 'img/profile/tank.png' %}" alt="header"></td>
              <td>
                주로 방어적인 역할을 맡으며, 적의 공격을 대신 맞아 팀을 보호합니다. 이들은 대체로 체력이 많고 튼튼한 맷집을 가져 전투에서 가장 앞장서서 적의 주의를 끌고, 다른 동료들이 안전하게 적을 공격할 수 있도록 합니다. 
              </td>
            </tr>
            <tr>
              <td><img src="{% static 'img/profile/dealer.png' %}" alt="header"></td>
              <td>
                적에게 많은 피해를 입히는 역할을 맡습니다. 이들은 공격력이 높고 다양한 공격 기술을 보유하고 있어 빠른 시간 내에 적을 제거하는 데 중점을 둡니다. 딜러는 근접 딜러와 원거리 딜러로 나누어지며, 각각의 특성에 맞는 무기와 마법을 사용합니다.
              </td>
            </tr>
            <tr>
              <td><img src="{% static 'img/profile/support.png' %}" alt="header"></td>
              <td>
                동료들의 생존과 전투 능력을 높이는 데 중점을 둡니다. 이들은 치유, 버프, 부활 등 다양한 지원 기술을 사용하여 전투에서 팀의 성공을 돕습니다. 서포터는 직접적인 전투보다는 전략적인 위치에서 동료들의 상태를 관리하며 전투의 흐름을 조절하는 데 중요한 역할을 합니다.
              </td>
            </tr>
            </table>

            <ul>
                <li>원활한 던전 돌파를 위해 탱커 1 : 딜러 2 : 서포터 1 비율을 지향합니다.</li>
                <li>각 포지션은 고유 스킬을 가지며, 기본 스킬 외에 2개의 스킬을 추가로 선택할 수 있습니다.</li>
                <li>보스 레이드 진입 전, 스킬 세트 변경이 가능합니다.</li>
                <li>전체 스킬은 개장 후 공개됩니다.</li>
            </ul>
        </div>

        <div class="fade-line"></div>
        <h1 class="subheader">06. RAID</h1>

        <div class="content">
            <ul>
                <li>본 커뮤니티는  턴제 마스레이드 시스템을 사용합니다.</li>
                <li>마스레이드란, ‘마스’라 불리는 사각 좌표를 활용한 전투 시스템이며, 여러 마스가 모여 하나의 맵을 형성합니다.</li>
                <ul>
                    <li class="minor">맵의 크기는 9×9, 12×12, 15×15 등으로 다양하며, 전투 진입 전 공지됩니다.</li>
                    <li class="minor">맵은 가로축에 알파벳, 세로축에 숫자가 부여되어 좌표가 지정됩니다.</li>
                    <li class="minor">각 마스는 고유 좌표값을 가지며, 이 좌표가 적과 플레이어의 위치를 결정합니다.</li>
                </ul>
                <li>전략 회의는 오픈채팅에서 진행되며, 레이드는 구글 스프레드시트를 통해 진행됩니다.</li>
                <li>본 커뮤니티의 레이드는 복잡하지 않고 이해하기 쉬운 난이도를 지향합니다. 따라서 직접적인 계산이 필요한 기믹은 존재하지 않으며, 쿨타임 및 스킬 코스트 등은 시트에서 자동 계산됩니다.</li>
                <li>참여 방식은 사전 신청을 원칙으로 하나, 레이드는 기본적으로 러너 전원 참여를 전제로 합니다.</li>
                <ul>
                    <li class="minor">신청 후 불가피하게 참여가 어려운 경우, NPC가 대신 투입됩니다.</li>
                </ul>
                <li>보다 구체적인 전투 규칙 및 진행 방식은 개장 후 공개되는 전투 시스템을 참고해주시기 바랍니다.</li>
            </ul>
        </div>
</div>




<p><span></span></p>



<script>
    document.addEventListener('scroll', function() {
        const contentBox = document.querySelector('.content_box');
        const scrollPosition = window.scrollY;
    
        console.log('스크롤 위치:', scrollPosition); // 현재 스크롤 위치 출력
    
        if (scrollPosition > 100) {
            contentBox.style.marginTop = '0px'; // 스크롤이 100px 이상일 때 위로 이동
        } else {
            contentBox.style.marginTop = '100px'; // 스크롤이 100px 미만일 때 원래 위치로 돌아옴
        }
    });
</script>

{% endblock %}