{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notice/war.css' %}">
{% endblock %}

{% block content %}

<a href="/world" class="goback">RETURN</a>


<div class="notice_wrap">
    <div class="content_box">

        <img class="notice_head" src="{% static 'img/notice/war_header.png' %}" alt="header">

        <div class="species_notice">
            <p>해당 페이지에 서술된 사건 외에도 다수의 분쟁이 일어났으며, 대대로 전해 내려오는 거대한 사건들을 중심으로 서술되었습니다. 해당 정보는 필수로 파악해야 하는 정보가 아니며, <b>캐릭터 설정 빌딩에 도움을 주기 위해 작성되었습니다.</b></p>
        </div>

        <div class="war_content">
            <h2>루미나의 붉은 재앙</h2>
            <h3>The Crimson Calamity of Lumina</h3>
            <p> 마족이 엘리시온과 노바리움을 동시에 침공하며 시작된 대전쟁. 붉은 달의 힘을 이용한 마족들은 강력한 힘과 파괴력을 선보였으며,  달이 떠오르는 밤마다 그들의 공격은 더욱 악랄해졌다. </br></br>
 이에 맞서 인간과 엘프는 전략과 전술을 총동원해 방어선을 구축했다. 마법사와 전사들이 협력하여 저항했지만, 전쟁 초기에 엘리시온은 많은 도시와 마을이 파괴되고 수많은 주민들이 삶의 터전을 잃었다. 그러나 시간이 흐르면서 연합군은 마족의 이동 경로와 전술을 파악하여 점차 반격에 나섰다. 결국 인간들은 마족의 본거지를 찾아내 대규모 습격을 감행했고, 최후의 전투에서 마족의 우두머리를 무찔렀다. </br></br>
 159년에 걸친 치열한 전투 끝에 동맹이 체결되며 전쟁은 마무리되었다. 이 전쟁은 대륙 역사상 가장 피비린내 나는 참극으로 기록되었고, 수많은 종족이 막대한 피해를 입었다. 그러나 동시에 인간 사회와 기술력은 급속히 발전했으며, 인간들은 엘프의 마법 지식을 배우고 엘프들은 인간의 전략과 전술을 익히게 되었다. 이후 인간과 엘프는 지속적인 동맹을 맺고 평화로운 공존을 도모하게 되었다.</p>
        </div>
        
        <div class="fade-line"></div>

        <div class="war_content">
            <h2>아르시아의 황금 전쟁</h2>
            <h3>The Golden Strife of Arcia</h3>
            <p>에라딘 대륙 남서부, 오늘날 엘리시온과 드라쿠스의 경계에 해당하는 지역, 과거 ‘아르시아’라 불리던 땅에 황금이 가득한 ‘빛나는 광산’이 있었다. 이 광산의 소유권을 두고 엘프와 드워프 사이에 전쟁이 발발했다. 엘프들은 숲과 자연을 지키기 위해 황금 광산을 보호하려 했고, 드워프들은 자신의 제국의 부를 확대하려고 광산을 차지하려 했다.</br></br>
 드워프들은 강력한 기계와 무기들을 동원하여 숲을 넘고 광산을 차지하려 했지만, 엘프들은 숲의 자연력을 결집해 거대한 마법 방벽을 만들며 드워프의 침입을 막았다. 그러나, 전쟁은 점점 교착 상태에 빠지게 되었다. 결국 두 종족의 지도자들은 황금광산을 공동으로 관리하기로 합의하게 된다. 그들은 전투 대신, 황금 광산을 이용한 상호 협력을 통해 새로운 시대를 열게 된다. 양측 모두 막대한 손실을 입은 후, 공동 광산 연합을 설립하고 기술과 마법을 교류하며 공존의 길을 택했다.</p>
        </div>
        
        <div class="fade-line"></div>

        <div class="war_content">
            <h2>토르만 유랑민의 반격</h2>
            <h3>The Rebellion of Torman Nomads</h3>
            <p> 인간의 소유물로서 억압받던 수인들이 자유를 위해 일으킨 대규모 반란. 수인들은 오랜 기간 동안 인간들의 억압과 차별을 받아왔다. 이에 반발하여 수인들은 자신들의 자유와 권리를 되찾기 위해 반란을 일으켰다. 수인들은 숲과 산을 이용한 게릴라 전술로 인간 군대를 교란시켰으나, 인간과 하프 엘프 용병 연합의 조직적인 반격에 의해 진압됐다. 이로써 첫 반란은 실패했으나, 수인들에게 자유를 향한 불씨를 남겼다.</br></br>

 이후 수인들은 게릴라 전술을 사용하여 인간들의 요새와 군대를 공격했고, 몇몇 전투에서 승리를 거두었다. 이들은 산과 숲을 이용해 인간들의 추적을 피하며, 인간들의 보급로를 차단하는 등 효과적인 전술을 펼쳤다. 인간과 하프 엘프의 조직적인 대응에 의해 반란은 결국 진압되었지만 이 사건을 계기로 과거와 같은 극심한 차별에서 점차 벗어나게 되었다. WE3 세대에 이르러서야 비로소 그들의 입지를 확보할 수 있었다.</p>
        <div class="fade-line"></div>

        <div class="war_content">
            <h2>엘리안의 검은 폭풍</h2>
            <h3>The Black Storm of Elian</h3>
            <p> 벨리사르의 동쪽 해안에 위치한 엘리안 왕국이 거대한 해적 선단과 마주하여 일어난 분쟁이다. 해적들은 '검은 바다'로 알려진 위험한 해역에서 온 자들이었으며, 그들은 불법으로 해양종 수인을 잡아와 착취하는 등, 해적의 폭정은 엘리안 왕국의 무역과 수출에 큰 타격을 주고 있었다. </br></br>

 엘리안 왕국의 해군은 이 해적들의 침략을 막기 위해 몇 년 동안 싸워왔으나 해적들의 마법은 엘리안 군의 무기를 뛰어넘었다. 엘리안 왕국은 결국 왕국의 왕인 칼로스가 직접 나서며, 해적 선단의 수장인 리스킨의 목을 쳐 궁극적인 승리를 거둔다.  그러나 이상하게도 리스킨의 죽음 후, 검은 바다의 평화는 오지 않았고, 엘리안 왕국은 전쟁 후 해적들과의 협상과 후속 작업을 통해 해적들의 위협을 겨우 막았다. 여전히 그들의 전투는 끝나지 않았다. 이따금씩 푸른 바다가 얼굴을 바꿔 검고 불길한 폭풍을 불러오는 것이 그 이유다.
</p>
        </div>
    
</div>




<p><span></span></p>



{% endblock %}