{% extends "notice_base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notice/world.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/effect/snow_reverse.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="gradient-overlay"></div>

<div class="notice_wrap">
    <div class="goback">
        <a href="/"><i class="fa-solid fa-chevron-left"></i></a>
    </div>
    <div class="intro">
        <p><span>한 마법사가 지팡이를 높이 들어 예언을 속삭였다.</span></p>
        <p style="margin: 35px 0px; font-size: 18px;"><span><i>" 영원이 침범되고 죽음이 도사릴 터이니,
            불온전한 세상은 겨울로부터 종말을 맞이할 것이다."</i></span></p>
        <p><span>이윽고 마지막 추종자는 눈과 함께 흩어진다. </span></p>
        <p><span>목숨을 걸었던 마법사들이 우습다는 듯 비웃었고, 우리는 수많은 죽음 위에서 안도의 숨결을 내뱉었다.</span></p>
        <p><span>온 세상이 백으로 물들고 매서운 추위로 얼어붙을 때까지 우리는 무지 아래 살아간다.</span></p>
        <p><span>이것은 미래의 자손들이 맞이할 미래이자, 다시 써내려가야 할 페이지다.</span></p>
        <img src="{% static 'img/worldicon.png' %}" id="clickableImage">
    </div>
    
    <div class="new-content" style="display: none;">
        <p> 마법사의 세계에서 통용되는 아주 간단하고 기본적인 상식. 세계가 창궐된 이래 마법은 ‘축복’으로 일컬어진다. 사회는 마법으로 평등하며 완벽을 이룬다. 비마법사는 ‘세계’에 침범할 수 없으니 모두가 순수한 축복 아래서 화합을 이루었다. 그야말로 흠잡을 것 하나 없는 질서의 정립이었다.</p>
        <p> 가장 순수한 피를 가진 자들은 스스로를 ‘말파스-깨지지 않는 요새’ 라 칭하며 유토피아를 지키기 위한 피의 맹세를 나눴다. 혈통을 강조하며 세상을 장악해 나가는 발걸음은 거침이 없었고, 그들의 통제 아래 마법 사회는 점점 눈보라 속으로 파묻혔다. 서로만이 존재하는 사회, 그를 뒷받침하는 신념 아래, 그들의 맹세는 강렬하고 굳건했다.</p>
        <p> 차별을 규율 삼아 질서를 모방한 시대. 잘못된 세상에 불씨를 피운 건 한 질문이었다. “어째서 평등한 마법 아래 우리는 무릎 꿇어야 하는가?” 무감각해진 차별 속 숨죽인 마법사들이 고개를 들었다.  잘못된 질서를 학습한 세계는 더이상 완벽에 가깝지 않았다. 이제껏 빼앗긴 평등을 되찾고자 하는 자들이 하나둘 목소리를 키우자 불씨는 빠르게 퍼져나갔다. 혁명은 점점 덩치를 불리고, 그들의 외침은 마법사 세계를 울렸다. 그렇게 불꽃처럼 피어난 이들을 ‘이그니스-타오르는 불꽃’라 이름지었다.</p>
        
        <button id="timelineBtn" class="new-btn">타임라인 확인하기</button>
        <button id="campBtn" class="new-btn">진영 확인하기</button>
    </div>

    <div class="timeline">
        <div class="btnloc"><button id="campBtn2" class="new-btn">진영 확인하기</button></div>
        <div class="row">
                <!-- Left Navigation Column -->
                <nav id="navbar-example3" class="col-md-2 navbar navbar-light">
                    <nav class="nav nav-pills flex-column">
                        <p class="nav-link" id="nolink">1952년 ‘ 이그니스 ‘ 결성</p>
                        <p class="nav-link" id="nolink">1963년 전쟁 발발</p>
                        <a class="nav-link" href="#item-1">1967년</a>
                        <a class="nav-link" href="#item-2">1968년</a>
                        <a class="nav-link" href="#item-3">1979년</a>
                        <a class="nav-link" href="#item-4">1982년</a>
                        <a class="nav-link" href="#item-5">1985년</a>
                        <a class="nav-link" href="#item-6">1995년</a>
                    </nav>
                </nav>
        
                <!-- Right Content Column -->
                <div id="timeline_contents" class="col-md-10" data-spy="scroll" data-target="#navbar-example3" data-offset="0">
                    <h4 id="item-1">1967<span class="subtitle_timeline">‘이그니스’  승리, ‘말파스’ 패배<span></h4>
                    <p> 불꽃이 요새를 집어삼킨 건 1967년 겨울. 단단한 성벽에 균열이 가고 최후의 추종자가 지팡이를 치켜들며 마지막 유언을 내뱉은 직후였다. 그날의 예언을 기억한다. 목이 잘리며 외쳤던 절규 아닌 희망찬 목소리를. “영원이 침범되고 죽음이 도사릴 터이니, 불온전한 세상은 겨울로부터 종말을 맞이할 것이다.” 예언자의 말로와 함께 매섭고도 사나운 눈보라가 쳤다. 끝내 종막이었다.</p>
                    <p> ㅡ안타까운 사실이지만, 긴 세월 지친 이들에게 죽어가는 자의 목소리가 제대로 닿는 일 따윈 없었다. 수장의 목이 떨어지니 그들의 힘이었던 성물 또한 사라졌다고 모두가 믿었다. 사회로 돌아간 구성원들은 바삐 움직여야 했고, 낡아빠진 이전 세대의 전유물을 재정립하기 급급했다. 유토피아를 잃고 눈보라 속으로 사라진 이들은 언젠가 다시 그들의 왕이 돌아오기만을 고대한다. <span style="opacity:0.7;">그러나 이건 아직 우리가 알아야 할 이야기가 아니다.</span></p>
                    
                    <h4 id="item-2">1968<span class="subtitle_timeline">러너 캐릭터 출생<span></h4>
                    <p>요새가 무너진 후의 세상은 끝이 아닌 새로운 시작을 맞았다. 이그니스의 불꽃이 세상을 영원히 따뜻하게 할지, 불완전한 세계가 다시 겨울을 맞이할지는 누구도 알 수 없지만, 자라날 생명들은 과거를 돌아볼 필요가 없었다. 찬란한 승리자들의 세계 아래 다시금 새로운 세대가 이어진다.</p>
                    <p><span style="opacity:0.7;">그리고 이 이야기의 전말은 오로지 우리만이 알 수 있을 것이다······.</span></p>
                    
                    <h4 id="item-3">1979<span class="subtitle_timeline">호그와트 입학<span></h4>
                    <p>마법사가 되기 위한 한 걸음. 기대에 부푼 마음으로 기차를 탑니다. 어떤 기숙사를 배정받을지, 시시콜콜한 이야기를 나누며 서로 알아가는 시간도 잠시… 쾅! 폭설로 인해 급행열차가 멈추는 해프닝이 발생하기도 했지만, 우리는 무사히 입학했습니다. 앞으로 자라날 마법사들의 미래에 멀린이 작은 시련을 준 건 아니었을까요? 아무렴, 큰일은 아니었지요.</p>
                    <p>따라가기 벅찬 수업과 열정 넘치는 교수들의 넘치는 과제 아래 정신없이 하루하루가 지나갑니다. 유난히 시린 바람이 불어오는 날들입니다. 이번 겨울은 이전 해보다 유독 추웠습니다.</p>
                    
                    <h4 id="item-4">1982<span class="subtitle_timeline">4학년<span></h4>
                    <p> 패배 이후로도 정통성 유지를 위해 순혈주의 사상을 펼치던 이들의 목소리가 차츰 커집니다. 날씨 탓에 제재가 쉽지 않아 마법 세계에 뒤숭숭한 이야기가 짧게 퍼지고, 그것은 4학년을 맞이하기 이전 우리의 귀에 들어옵니다. ‘말파스’ 가 암암리에 활동 중이라는 소문. 마법부는 루머에 빠르고 강경하게 대응했지만, 많은 이들이 이는 임시방편에 지나지 않는다는 비판을 흘립니다. 호그와트에도 한 줄기 불안이 피어나지만 그 감정을 정확히 마주하기에 우리는 아직 어립니다. 덜컹대는 기차 속, 창밖으로 보이는 건 내리는 눈으로 뒤덮인 산뿐입니다.</p>
                    <p>이유 모를 추위가 매섭게 지속되고 비정상적으로 길어지는 겨울을 체감하다 보면… 아, 어느새 크리스마스입니다.</p>
                    
                    <h4 id="item-5">1985<span class="subtitle_timeline">7학년<span></h4>
                    <p>우리에게 남은 건 졸업뿐입니다. 바라던 자리를 찾아가거나, 바라는 무언가를 찾기 위해 노력하겠죠. 이별은 새로운 만남으로 이어지고 우리는 각자의 삶을 살게 될 것입니다. N.E.W.T를 보기 전 성대한 축제를 즐기고 나면, 다시금 새하얀 눈이 내립니다. 푸른 새싹을 본 지 얼마나 되었죠? 이러다 호그와트가 눈보라에 파묻히는 것은 아닐까요? 이제는 익숙해져버린 눈을 밟는 감각, 봄의 계절에 수북히 쌓인 눈을 멍하니 보다 보면 이대로 고립되는 것이 아닐까 따위의 감상이 마음 한구석에 자연스레 자리합니다.</p>
                    
                    <h5>< 정체불명의 피습, 마법부 위기 ></h5>
                    <p> 돌연 파격적인 헤드라인을 단 기사가 마법 세계 각지에 흩뿌려집니다. 호그와트도 포함해서요. 세상이 파괴적인 비명을 내지릅니다. 우리에게 더 이상 외면할 수 없다고 외치는 듯이.</p>
                    <p> 말파스로 추정되는 자들의 습격으로 마법부의 일원 몇이 죽거나 큰 사상을 입었다는 기사가 납니다. 거세지는 추위 속 일어나는 시위를 막을 수 없어 터진 사건으로 추정되며, 왠지 모르게 사회는 이를 쉬쉬하는 분위기입니다. 이 일을 계기로 마법부의 압박은 날이 갈수록 심해지고, 과격한 사상을 펼치던 순혈 마법사들은 하나둘 입을 다뭅니다. 세상이 얼어붙을 위기에 처하자 언론이 영국 전역을 장악해, 종말에 관한 내용 또한 모두가 알게 됩니다. </p>
                    <p>‘그’ 예언자의 목소리를 기억하던 마법사들의 이야기가 부상합니다. 세계가 겨울로 인해 끝날 것이라고!</p>
                    
                    <p>~졸업 이후,</p>
                    <h5>< 영국, 끝없는 겨울에 갇혀 ></h5>
                    <p> 1990년, 겨울이 길어진 이유가 밝혀집니다. 지난한 수색 끝에 오러들이 잔존하던 말파스의 추종자들을 잡아내는 데 성공했고, 성물로 인해 모두가 죽을 것이라는 말을 끝으로 자결했다는 기사가 납니다. 모든 계절이 잠식당하고 겨울만으로 이루어질 위기, 묵과할 수 없는 사태에 처합니다.</p>
                    
                    <h4 id="item-6">1995<span class="subtitle_timeline">성인<span></h4>
                    <p> 힘 없는 자들은 자연에 굴복할 수밖에 없고, 사회는 기아 상태에 처합니다. ‘아이를 지키게만 해주세요...’ , ‘어떤 마법사에게든 평화롭게 해준다면서!’ … …. 예전보다 거세진 피습과 시위가 반복되고 있습니다. 혹한으로 수많은 목숨이 아스러지지만, 마법부는 어떤 외침에도 반응하지 않고 그들의 자리를 굳건히 지킬 뿐입니다.</p>
                    <p> 우리 모두는 압니다. 자라나 개화한 우리는 더 이상 보호받아야 할 어린아이가 아님을. 의지를 이어 세계를 향해 신념을 보여야만 하는 때임을. 어느새 몰라보게 성장해 사회에 섞여 든 우리는 하나둘 눈을 마주칩니다.</p>
                    <p>끝내 세상을 멸하거나 되찾기 위해 익숙한 얼굴들이 모입니다. 바야흐로 최종장이었습니다.</p>
                </div>
        </div>
    </div>

    <div class="camp">
        <div class="btnloc"><button id="timelineBtn2" class="new-btn">타임라인 확인하기</button></div>
        <div class="camp_wrap">
            <div class="camp_content1">
                <h3 class="title">Malphas</h3>
                <h5 class="subtitle">말파스</h5>
                <p class="colortitle"><span>원작 내 ‘죽음을 먹는 자’ 에 해당하는 진영입니다.</span></p>
                <p><span>몇 세대 동안 쭉 권력을 장악해온 집단. 누구보다 순수한 자들이라 칭송 받으며 지배자로서 군림했다. 순혈 우월주의 사상을 바탕으로 그들만의 이상적인 사회를 구축했고, 반하는 이들은 거침없이 들어냈으니 집단의 대부분은 순수혈통으로 이루어지는 것이 당연했다. 차별적인 행위를 서슴없이 저지름에도 사회의 모든 흐름은 말파스를 전적으로 따랐다.</span></p>
                <p><span>1967년, ‘이그니스’ 와의 대립에서 패배하여 크게 쇠퇴했다. 마법부는 승리를 선동하기 위해 말파스의 수장을 단두대에 세웠고, 그 광경을 모두가 목격하게 했다. 그를 추종하던 마법사들의 목이 남김없이 날아가고서야 모든 싸움이 끝났다고 믿을 수 있었다. 성물 또한 어둠의 마왕과 함께 모습을 감추었으니 결국 순수한 이들은 패배함과 다름이 없었다. 정권은 바뀌었으나 여전히 그들의 사상은 많은 이들에게 깊숙이 뿌리내려 있어 갈등의 목소리가 끊이지 않는다. 현재는 새로운 방향을 모색 중이다.</span></p>
                <p class="lastcontent"><span>성인 이후, 어둠의 마왕을 되살려 과거의 영광을 되찾으려는 자들로 모입니다. 파멸적인 신념을 지닌 채 이그니스와 대립합니다.</span></p>    
            </div>
            <div class="camp_content2">
                <h3 class="title">Ignis</h3>
                <h5 class="subtitle">이그니스</h5>
                <p class="colortitle"><span>원작 내 ‘불사조 기사단’ 에 해당하는 진영입니다.</span></p>
                <p><span>‘말파스’ 에 대응하기 위해 결성된 반 순수혈통주의 집단. 오랜 시간 사회적 차별과 압박이 당연시되었으며, 반복되는 시대 속 비밀 결사를 통해 결속력을 다졌다. 불안정한 사회와 고통받는 이들을 구제하기 위한 힘을 모았고, 마법의 힘을 선하게 사용하려는 의지를 지녔다. 대다수의 인원이 머글, 혼혈 순으로 이루어져 있다.</span></p>
                <p><span>1967년, ‘말파스’ 와의 전쟁에서 승리함과 동시에 그들의 이념이 세상에 드러났다. 폐쇄적인 마법 사회를 불태워 새로운 세대로 이끌어낸 당사자들로서 빛을 발한다. 결정적인 승리를 거둔 사실엔 변함이 없으나 당시 참전한 이그니스 소속 마법사들 대부분이 희생되었다. 그럼에도 사회는 변화했다. 새로운 세대의 마법사들이 등장하고, 보다 평화롭고 공정한 사회를 구축하기 위해 힘쓴다. 말파스의 잔재로 남아 있는 순혈 우월주의 사상에 맞서 싸우는 중이다.</span></p>
                <p class="lastcontent"><span>성인 이후, 겨울을 불러일으켜 세계를 멸할 성물을 파괴하러 모입니다. 굴복하지 않겠다는 신념을 지닌 채 말파스와 대립합니다.</span></p>    
            </div>
        </div>
    </div>
    
</div>



<script src="{% static 'css/world.js' %}"></script>

{% endblock %}
