{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notice/world.css' %}">

{% endblock %}

{% block content %}

<a href="/" class="goback">RETURN</a>

<div class="notice_wrap">
    <a href="/world/story"><img src={% static "img/notice/story_banner.png" %}></a>
    <a href="/world/realm"><img src={% static "img/notice/realm_banner.png" %}></a>
    <a href="/world/war"><img src={% static "img/notice/war_banner.png" %}></a>
    <a href="/world/species"><img src={% static "img/notice/species_banner.png" %}></a>
</div>


{% endblock %}
