{% load static %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>The Light of Laura</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/7076248453.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        {% if user.is_authenticated %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/effect/user.css' %}">
        {% endif %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    </head>
    <body>
        <div class="background"></div> <!-- 흐림 효과를 위한 배경 -->
        {% if user.is_authenticated %}
        {% include "effects/user.html" %}
        {% endif %}

<div class="header">
        <a><p class="subtitle">NOTICE</p></a>
        <a><p class="subtitle">WORLD</p></a>
        <a><img src="{% static 'img/로고.png' %}" alt="QnA"></a>
        <a><p class="subtitle">SYSTEM</p></a>
        <a><p class="subtitle">GUILD</p></a>        
</div>

<div class="main_content_wrap">
    <div class="main_content_1">
        <a><img src="{% static 'img/main/story.png' %}" alt="QnA"></a>
        <div class="c1_wrap">
            <a><img src="{% static 'img/main/message.png' %}" alt="QnA"></a>
            <a><img src="{% static 'img/main/store.png' %}" alt="QnA"></a>
        </div>
        
        <a><img src="{% static 'img/main/qna.png' %}" alt="QnA"></a>
    </div>
    <div class="main_content_2">
        <a><img src="{% static 'img/main/application.png' %}" alt="Login"></a>
        <a><img src="{% static 'img/main/calender.png' %}" alt="Login"></a>
    </div>
    <div class="main_content_3">
        <a><img src="{% static 'img/main/quest.png' %}" alt="Login"></a>
        <a><img src="{% static 'img/main/login_back.png' %}" alt="Login"></a>
    </div>
    </div>
</div>
        


        {% include "effects/snow.html" %}
            
        
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
        
    </body>
</html>
