{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/store/store.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/store/purchase_modal.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/store/gift_modal.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}

{% block content %}


<div class="store-content">
    <div class="store_spec_wrap">
        
        <div class="spec-image-content">
            <img id="spec_image" src="{% static 'img/store/감자빵.png' %}"> 
        </div>
        
        <div class="spec_info_name">
            <p id="spec_name">감자빵</p>
        </div>

        <div class="spec_info_category">
            <p id="spec_category">음식</p>
        </div>
        
        <div class="spec_info_information">
            <p id="information">감자처럼 생긴 빵. 고구마 맛이 난다.</p>
        </div>
        
        <div class="spec_info_purchase_bar">
            <div class="spec_info_price">
                <img src="{% static 'img/갈레온.png' %}" class="price-currency-icon">
                <p id="item_price">100 G</p>
            </div>
            <div class="spec_info_func">
                <img src="{% static 'img/카트.png' %}" class="purchase-icon"  data-target="#exampleModal1">
                <img src="{% static 'img/선물.png' %}" class="gift-icon" data-target="#exampleModal2">
            </div> 
        </div>
        
    </div>

    <div class="store_info_wrap">
        <div class="tab_btns">
            <button id="store_btn" class="active" onclick="showItemList('store')">상점</button>
            <button id="ingredient_btn" onclick="showItemList('ingredient')">재료</button>
        </div>

        <div class="item_list_container">
            <div class="item_header">
                <img src="{% static 'img/store/store_header.png' %}" alt="">
            </div>

            <div class="item_list" id="store_list">
                {% for item in items %}
                <div class="item_card" onclick="updateItemSpec('{{ item.itemName|escapejs }}', '{{ item.itemCategory|escapejs }}', '{{ item.itemInfo|escapejs }}', '{{ item.itemPrice }}')">
                    <div class="item_content_wrap">
                        <div class="item_card_image_area">
                            <img src="{% static 'img/store/' %}{{item.itemName}}.png" class="item_card_image">
                        </div>
                        
                        <p class="item_card_name">{{ item.itemName }}</p>
                    </div>

                    <div class="item_card_price_bar">
                        <p class="item_card_price">{{ item.itemPrice }} G</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="item_list" id="ingredient_list">
                {% for item in ingredients %}
                <div class="item_card" onclick="updateItemSpec('{{ item.itemName|escapejs }}', '{{ item.itemCategory|escapejs }}', '{{ item.itemInfo|escapejs|linebreaksbr|safe }}', '{{ item.itemPrice }}')">
                    <div class="item_content_wrap">
                        <div class="item_card_image_area">
                            <img src="{% static 'img/store/' %}{{item.itemName}}.png" class="item_card_image">
                        </div>
                        
                        <p class="item_card_name">{{ item.itemName }}</p>
                    </div>

                    <div class="item_card_price_bar">
                        <p class="item_card_price">{{ item.itemPrice }} G</p>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>

<div>


{% include "store/purchase_modal.html" %}
{% include "store/gift_modal.html" %}


<div class="modal fade" id="purchaseCompleteModal" tabindex="-1" aria-labelledby="purchaseCompleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center; padding: 40px; color: #333; font-size: 1.2rem;">
        <p>구매가 완료되었습니다.</p>
        <button type="button" class="btn btn-primary" id="confirmAndRefreshBtn">확인</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="giftCompleteModal" tabindex="-1" aria-labelledby="giftCompleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center; padding: 40px; color: #333; font-size: 1.2rem;">
        <p>선물이 전달되었습니다.</p>
        <button type="button" class="btn btn-primary" id="giftConfirmBtn">확인</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>

    function updateItemSpec(name, category, info, price, imagePath) {
        document.getElementById('spec_image').src = `{% static 'img/store/' %}${name}.png`;
        document.getElementById('spec_name').textContent = name;
        document.getElementById('spec_category').textContent = category;
        document.getElementById('information').textContent = info;
        document.getElementById('item_price').textContent = `${price} G`;
    }

    function showItemList(listType) {
        const storeList = document.getElementById('store_list');
        const ingredientList = document.getElementById('ingredient_list');
        const storeBtn = document.getElementById('store_btn');
        const ingredientBtn = document.getElementById('ingredient_btn');

        if (listType === 'store') {
            storeList.style.display = 'grid'; 
            ingredientList.style.display = 'none'; 
            
            // 버튼 활성화 클래스 전환
            storeBtn.classList.add('active');
            ingredientBtn.classList.remove('active');
        } else if (listType === 'ingredient') {
            storeList.style.display = 'none'; // 상점 목록 숨기기
            ingredientList.style.display = 'grid'; // 재료 목록 보이기
            
            // 버튼 활성화 클래스 전환
            storeBtn.classList.remove('active');
            ingredientBtn.classList.add('active');
        }
    }

    document.querySelector('img[src="{% static "img/카트.png" %}"]').addEventListener('click', function() {
      // spec_name에서 텍스트를 가져와서 모달의 제목으로 설정
      var itemName = document.getElementById('spec_name').textContent;
      var itemPrice = document.getElementById('item_price').textContent;
      var category = document.getElementById('spec_category').textContent;
      document.getElementById('modalTitle').textContent = itemName;
      document.getElementById('modalPrice').textContent = itemPrice;
      // input 요소의 value 속성에 itemName 값을 설정
      document.getElementById('itemName').value = itemName;    
      document.getElementById('category').value = category;    
      document.getElementById('modal_item_image').src = `{% static 'img/store/' %}${itemName}.png`; 
      $('#exampleModal1').modal('show');
  });

    document.querySelector('img[src="{% static "img/선물.png" %}"]').addEventListener('click', function() {
      var itemName = document.getElementById('spec_name').textContent;
      var itemPrice = document.getElementById('item_price').textContent;
      var category = document.getElementById('spec_category').textContent;
      document.getElementById('modalTitle2').textContent = itemName;
      document.getElementById('modalPrice2').textContent = itemPrice;
      // input 요소의 value 속성에 itemName 값을 설정
      document.getElementById('itemName2').value = itemName;
      document.getElementById('category2').value = category;  
      document.getElementById('modal_item_image').src = `{% static 'img/store/' %}${itemName}.png`; 
      $('#exampleModal2').modal('show');
  });

  document.addEventListener("DOMContentLoaded", function() {
    const spec = document.querySelector(".store_spec_wrap");
    const info = document.querySelector(".store_info_wrap");

    // 애니메이션 타이밍 조절 (순차 등장 효과)
    setTimeout(() => spec.classList.add("visible"), 300);  // 먼저 등장
    setTimeout(() => info.classList.add("visible"), 100);  // 나중 등장
});

</script>



{% endblock %}